title: Zinzy Waleson Geene
description: Zinzy Waleson Geene is a researcher, designer, facilitator, and IndieWeb enthusiast from Amsterdam.
jekyllversion: 4.3.2
include:
  - _posts
  - _notes
exclude:             
  - _includes/notes_graph.json
 # - assets/js/webmention.js
url: https://www.zinzy.website
# You may need to change the base URL depending on your deploy configuration.
# Specifically, when using GitHub Pages, the baseurl should point to where GitHub
# Pages deploys your repository (which is usually the repository name).
baseurl:             ''

# If you are using a host that cannot resolve URLs that do
# not end with .html (such as Neocities), set this to 'true'.
use_html_extension:  false

# Set to `true` to open non-internal links in new tabs, or
# set to `false` to open non-internal links in current tab.
open_external_links_in_new_tab: true

# Set to `true` to replace tweet URLs with Twitter embeds.
# Note that doing so will negatively the reader's privacy
# as their browser will communicate with Twitter's servers.
embed_tweets: false

permalink:           pretty
relative_permalinks: false

plugins:
  - jekyll-paginate 
  - jekyll-archives


posts_limit: 10
feed:
  path: /feed.xml

paginate: 4
paginate_path: /page/:num/

jekyll-archives:
  enabled:
    - tags
    - year
  layouts:
    tag: archive-tag
    year: archive-year
  permalinks:
    tag: '/tag/:name/'
    year: 'year/:year/'


tag_page_layout: archive-tag
tag_page_dir: tag


kramdown:

sass:
  sass_dir:          _sass
  style:            :compressed

collections: 
  notes:
    output: true
    permalink: /:slug
  work:
    output: true
    permalink: /:slug
  # posts:
  #   output: true
  #   permalink: /:year/:month/:day/:slug 

defaults: 
  - scope:
      path: "**/*"
    values:
      layout: "default"
  - scope:
      path: "_pages/**/*.md"
    values:
      layout: "page" 
  - scope:
      path: "_notes/**/*.md"
    values:
      layout: "note" 
  - scope:
      path: "_work/**/*.md"
    values:
      layout: "work-item" 
  # - scope:
  #     path: "_posts/**/*.md"
  #   values:
  #     layout: "post" 