[build]
  # OLD COMMAND command = "jekyll build --trace"
  command = """
    bash ./netlify-setup.sh &&
    # GIT_SSH_COMMAND="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no" \
    # git submodule update --init --remote &&
    npm run build
    jekyll build --trace
  """
  publish = "_site"