<footer class="my-20">
  <div class="border-t border-b border-gray-300 py-20 mb-52">
    <div class="mb-20">
      <p>You've reached the personal website of Zinzy Waleson Geene (she/they), a person, researcher, designer, and facilitator living and working in Amsterdam<span data-timestamp-text=", where it is {time}"></span>. Thank you for visiting this place.</p>
    </div>
  
    <div class="grid grid-cols-2 gap-4">
      <div>
        <div class="mb-10">
          <h2 class="text-gray-500 mb-3">Info</h2>
          <ul>
            <li><a href="/about" class="">About me</a> & <a href="/site" class="">This site</a></li>
            <li><a href="/hello" class="">Get in touch with me</a></li> 
          </ul>
        </div>

        <h2 class="text-gray-500 mb-3">Also</h2>
        <ul>
          <li><a href="/work" class="">How I work</a></li>
          <li><a href="/facilitation" class="">Facilitation</a></li>
          <li><a href="/interests" class="">My interests</a></li>
          <li><a href="/codex" class="">Life codex</a></li>
        </ul>
      </div>
      <div>
        <h2 class="text-gray-500 mb-3">Indexes</h2>
        <ul> 
          <li><a href="/writing">Writing</a></li>
          <li><a href="/small">Small updates</a></li>
          <li><a href="/instant">Instant photography</a></li>
          <li><a href="/now">Now</a></li>
          <li><a href="/blogroll">Blogroll</a></li>
        </ul>
      </div>
    </div>
  </div> 




  <div class="text-right">

    <a href="https://xn--sr8hvo.ws/previous">←</a>
    <a href="https://xn--sr8hvo.ws">🕸💍</a>
    <a href="https://xn--sr8hvo.ws/next">→</a>
  </div>
    
</footer>



 