<footer class="mt-20">
  <p class="prose dark:text-white">This website is <a href="https://jeffhuang.com/designed_to_last/" target="_blank" rel="noopener noreferrer">designed to last</a><span class="inline-block mx-2">•</span>
  <span>
    <a href="https://xn--sr8hvo.ws/previous">←</a>
    <a href="https://xn--sr8hvo.ws" class="inline-block mx-1 underline">IndieWeb</a>
    <a href="https://xn--sr8hvo.ws/next">→</a>
  </span><span class="inline-block mx-2">•</span>
  <a href="https://webring.xxiivv.com/#zinzy" target="_blank" rel="noopener" class="inline">
    <img src="https://webring.xxiivv.com/icon.black.svg" alt="XXIIVV webring" class="inline m-0 h-4" />
  </a>
</p>
    
</footer>