<footer id="footer"> 

  <h3 class="shy">Okay good talk.</h3>
 
  <div class="mb-3 border-bottom">
    <p class="h-card d-inline">
      <a class="p-name internal-link" href="https://www.zinzy.website">
        <span class="p-given-name">Zinzy </span> 
        <span class="p-family-name">Waleson Geene</span>
      </a> 
      (<a href="https://pronoun.is/she" target="_blank" rel="noopener noreferrer">she</a>/ 
      <a href="https://pronoun.is/they" target="_blank" rel="noopener noreferrer">they</a>) 
      is a researcher, designer, and queer facilitator from 
      <span class="p-locality">Amsterdam</span>. 
      She has a keen interest in (digital) humanities and behavioral sciences, yoga practice, and amateur cooking.
    </p>
    <p class="d-inline">Zinzy appreciates you respecting the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode" target="_blank" rel="noopener noreferrer">BY-NC-SA 4.0</a>. This is edition <a href="https://github.com/zinzy/zinzy.website/commits/main" target="_blank">{{ page.last_modified_at | date: "%s" }}</a>.</p>
  </div>


  <span>
    <a href="https://xn--sr8hvo.ws/%F0%9F%95%9C%F0%9F%91%8B%F0%9F%9A%A8/previous">←</a>
    An IndieWeb Webring 🕸💍
    <a href="https://xn--sr8hvo.ws/%F0%9F%95%9C%F0%9F%91%8B%F0%9F%9A%A8/next">→</a>
  </span> 

  <span class=" yw-widget-text yw-raw" data-yw-url="https://zinzy.website"></span>
  <script src="https://yesterweb.org/js/widget.js"></script>

 
    </footer>    