<header>

  <div class="flex ...">
    <div class="grow">
      <a href="/">Zinzy</a>
    </div>
    <div class="flex-none">
      <a href="/about">About</a>
    </div>
  </div>
<!-- 


  <h1 class="font-medium text-lg"><a href="/">Zinzy Waleson Geene</a></h1>

  <p class="status">
    {% assign status = site.status | sort: 'date' | reverse  %}     
    {% for post in status limit: 1 %}
      {{post.content}}
      <time datetime="{{ post.date | date: "%-d %b %Y" }}" class="none" id="statusDate">{{ post.date | date: "%Y-%m-%d %H:%M:%S" }}</time>
      (<span id="statusTimeAgo"></span>)
    {% endfor %}
  </p> 

  <nav>
    <ul>
      {% for item in site.data.menu-main %}
      <li> 
        <a href="{{item.url}}" class="font-medium">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav> -->
</header>