<header id="header">
<div class="header-content">
    <div class="row">
        <div class="avatar">
            <div class="h-card">
                <div class="p-author">
                    <a href="/"><img class="u-photo" src="/assets/img/android-chrome-192x192.png" alt="Zinzy Waleson Geene" /></a>
                </div>
            </div>
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/diary">Diary</a></li>
                    <li><a href="/now">Now</a></li>
                    <li><a href="/hello">Hello</a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            You're great.
        </div>
    </div>
</div>
</header>