<header class="site-header">

  <div class="h-card">
    <a href="/"><img class="u-photo" src="/assets/img/android-chrome-192x192.png"/></a>
    <h1 class="p-author"> 
      <a class="p-name u-uid u-url" rel="author" href="https://zinzy.website">
        <span class="p-given-name">Zinzy</span>
        <span class="p-family-name">Waleson Geene</span>
      </a> 
    </h1>
  </div>
    {% assign current = page.url | downcase | split: '/' %}
    <nav>
      <ul>
        <li><a href='/about' {% if current[1] == 'about' %}class='active'{% endif %}>About</a></li>
        <li><a href='/diary' {% if current[1] == 'diary' %}class='active'{% endif %}>Diary</a></li>
        <!-- <li><a href='/resources' {% if current[1] == 'resources' %}class='active'{% endif %}>Resources</a></li> -->
        <li><a href='/work' {% if current[1] == 'work' %}class='active'{% endif %}>Work</a></li>
      </ul>
    </nav>
</header>