<header>
    <div class="d-flex">
        <div class="w-100">
            <div class="portrait">
                <img src="https://res.cloudinary.com/dbi2zounq/image/upload/c_scale,w_200/v1635344340/me/zinzy-1_zarupx.jpg" class="" alt="">
            </div> 
        </div>
        <div class="flex-shrink-1">
            <h1><a class="internal-link" href="{{ site.baseurl }}/">Hey, I'm Zinzy Waleson.</a></h1>
            <div>I'm a person on the Internet and in Amsterdam</div>
        </div>
      </div>
</header>