<header id="header">


    <div class="d-flex align-items-stretch">
        <div class="flex-shrink-1 portrait">
            <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1635344340/me/zinzy-1_zarupx.jpg" alt="">
        </div>
        <div class="w-100 d-flex align-items-center">
            <div>
                <h1><a href="/">Zinzy Waleson</a></h1>
                <div>Indische Buurt, Amsterdam</div>
            </div>
        </div> 
      </div>

     

    <!-- <div class="portrait">
        <a class="internal-link" href="{{ site.baseurl }}/"><img src="https://res.cloudinary.com/dbi2zounq/image/upload/c_scale,w_300/v1635344340/me/zinzy-1_zarupx.jpg" class="" alt=""></a>
    </div>   -->
</header>