<noscript><br>I use client-side JavaScript to render the webmentions. If you do not wish to enable JavaScript that's OK, but you won't see any webmention I've received — sorry.</noscript>
<div id="webmentions"></div>

<!-- <div class="text-center my-5" role="alert" id="comments">
    <p class="fs-5 mb-0"><a href="mailto:zinzy@pm.me?subject={{ page.title | uri_escape }}" title="Reply to this post">Reply via email</a> or use <a href="https://indieweb.org/Webmention">webmentions</a></p>

    {% if page.comments %}
    <h2 class="text-center">Comments from WordPress</h2>
    <div>
      <ul class="list-unstyled mt-0 ps-0">
      {% for comment in page.comments -%}
        <li class="fs-5 lh-sm mb-4">
          {%- if comment.reply == true %}↪️ {% else -%}💬 {% endif -%}<a class="reaction" rel="nofollow ugc" title="mentioned" href="{{ comment.href }}">{{ comment.author }}</a>&nbsp;&ndash; <span>{{ comment.response }}</span>
        </li>
      {% endfor -%}
      </ul>
    </div>
    {% endif -%}
    <noscript><br>I use client-side JavaScript to render the webmentions. If you do not wish to enable JavaScript that's OK, but you won't see any webmention I've received — sorry.</noscript>
    <div id="webmentions"></div>
  </div> -->