$black: #000000;
$gray-1: #3E3C3B;
$gray-2: #757271;
$gray-3: #B7B3B2;
$gray-4: #DDD8D6;
$gray-5: #F6F2F0;
$gray-6: #F9F7F7;


$blue: #CCE3F0;
$green: #D5E9DD;
$purple: #D8D4ED;
$pink: #ECD2E9;
$orange: #EED9D1;
$yellow: #F1EAD6;

 