$black: #1B212A;
$gray-1: #41474E;
$gray-2: #6C7177;
$gray-3: #9B9EA2;
$gray-4: #CCCDD0;
$gray-5: #E6E7E8;
$gray-6: #F1F2F2;


$green: #E2FAEC;
$blue: #E5F6FE;
$purple: #EAE5FB;
$pink: #FFE3F8;
$orange: #FFEAE3;
$yellow: #FFF5DF;