$black: #000000;
$gray-1: #3E3C3B;
$gray-2: #757271;
$gray-3: #B7B3B2;
$gray-4: #DDD8D6;
$gray-5: #F6F2F0;
$gray-6: #F9F7F7;
 
 

$green: #E2FAEC;
$blue: #E5F6FE;
$purple: #EAE5FB;
$pink: #FFE3F8;
$orange: #FFEAE3;
$yellow: #FFF5DF;