@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}