@font-face {
    font-family: "HKGrotesk";
    src: url("../assets/fonts/HKGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../assets/fonts/HKGrotesk-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../assets/fonts/HKGrotesk-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
font-family: "HKGrotesk";
src: url("../assets/fonts/HKGrotesk-MediumItalic.woff2") format("woff2");
font-weight: 600;
font-style: italic;
font-stretch: normal;
}