@font-face {
  font-family: 'GraphikRegular';
  font-weight: normal;
  src: url("../assets/fonts/GraphikRegular.woff2")
}


body { 
  padding: 40px; 
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 16px;
  line-height: 150%;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  color: #404040;
  margin: 0 auto;
  @media (prefers-color-scheme: dark) {
    background: #1f1f1f;
    color: white;
  }
  @media screen and (min-width: 768px) {  
    padding: 0;
  }
}



// TYPOGRAPHY



h1, h2, h3, h4, h5, h6 {
  font-weight: 500; 
  line-height: 150%;
  color: black;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
  a {
    // text-decoration: none;
    // color: black;
    &:visited {
      // color: black;
    }
    // @media (prefers-color-scheme: dark) {
    //   color: white;
    //   &:visited {
    //     color: white;
    //   }
    // }
  }
}

h1 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}


a { 
  color: #050505;
  text-decoration: none;
  &:visited {
    // color: black;
    @media (prefers-color-scheme: dark) {
      color: white;
    }
  } 
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}


// MEDIA

 img {
  max-width: 100%;
  height: auto;
 }



// SECTIONS


.site-header {
  nav {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: .8rem 0;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 1rem;
        padding: 0;
        a {
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }
}

section {
  margin-bottom: 50px;
}

main {
  margin: 150px auto 100px auto;
  max-width: 600px;
}

.diary {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    p {margin-top: 0;}
    li {
      @media screen and (min-width: 768px) {
        display: flex;
      }
      a {
        font-weight: 500;
        text-decoration: none;
      }
      .time {  
        @media screen and (min-width: 768px) {
          flex-shrink: 0;
          padding-bottom: .9em;
          width: 8rem;
        }
      }
    }
  }
  a {
    word-break: break-all;
  }
}

.footnotes {
  font-size: 80%;
  margin-top: 5rem;
}


footer {
  nav {
    text-align: center;
    border-top: 1px solid rgb(235, 235, 235);
    padding: .8rem 0;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 1rem;
        padding: 0;
        a {
          text-decoration: none;
          color: #999;
          font-size: 14px;
        }
      }
    }
  }
}

.card {
  border: 1px solid black;
  padding: 2rem;
}

.text-center {
  text-align: center;
}




.border-top {
  border-top: 1px solid rgb(207, 207, 207);
  @media (prefers-color-scheme: dark) {
    border-top: 1px solid rgb(92, 92, 92);
  }
}




.comments {
  .reaction {
    img {
      width: 15px;
    }
  }
}


blockquote {
  margin: 50px;
  p {
    font-size: 1.5rem;
    line-height: 150%;
  }
}


.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-4 {
  margin-left: 4rem;
}
.ml-5 {
  margin-left: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-4 {
  margin-right: 4rem;
}
.mr-5 {
  margin-right: 5rem;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}
.my-5 {
  margin: 5rem 0;
}

.mx-05 {
  margin: 0 .5rem;
}

.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
.mx-4 {
  margin: 0 4rem;
}
.mx-5 {
  margin: 0 5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.pb-4 {
  padding-bottom: 4rem;
}
.pb-5 {
  padding-bottom: 5rem;
}

.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pt-5 {
  padding-top: 5rem;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}
.py-5 {
  padding: 5rem 0;
}


.menu {
  margin: 0;
  padding: 30px 0 0 0;
  border-top: 1px solid #dedede;
  li {
    display: inline-block;
    &:not(:last-child):after {
      content: " / "
    }
  }
}

.invalid-link {
  &::before {
    content: "[[";
  }
  &::after {
    content: "]]";
  }
}
 
.snapshots { 

  overflow-y: scroll;
  display: flex;
  gap: 1em;
  flex-wrap: nowrap; 
  align-items: center;
  a {
    flex-shrink: 0; 
  }
  img {
    height: 130px;
  } 
}

.diptych {
  max-width: 600px;
  display: flex;
  img {
    max-width: 300px;
  }
}


figure {
  margin: 3rem 0;
}

// .webmentions {
//   border-top: 1px solid red;
// }

.form-label {
  display: block;
  margin-bottom: .5rem;
}

.form-control {
  display: block;
  width: 100%;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 3px;
  padding: .3rem;
  @media (prefers-color-scheme: dark) {
    border: 1px solid rgb(92, 92, 92);
  }
}

.flex-grow-1 {
  flex-grow: 1!important;
}

.d-flex {
  display: flex!important;
}


.site-logo {
  margin-right: 1rem;
}

.portrait {
  width: 80px;
  border-radius: 50%;
}

.status {
  display: inline-block !important;
  margin: 0;
}

.status::first-letter { 
  text-transform: lowercase; 
}


.button-text {
  font-weight: 500;
  text-decoration: none;
}

time {
  color: #999;
}