@import "../_sass/bootstrap";
@import "../_sass/colors";
@import "../_sass/fonts";

 



html {
  --margin-s: 25px;
  --margin-m: 50px;
  --margin-l: 100px;
  @media screen and (min-width: 1400px) {
    --margin-s: 25px;
    --margin-m: 50px;
    --margin-l: 200px;
  }
}

html, body {
  font-size: 18px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  @media screen and (min-width:768px) {
    font-size: 20px;
  }
  @media screen and (min-width:1800px) {
    // font-size: 25px;
  }
}



body {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  line-height: 165%;
  color: $gray-1;
  background: #fff;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400; 
  margin: 30px 0;
  @media screen and (min-width: 768px) {
    margin: 50px 0;
  }
}

 
#header { 
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin: 1rem;
  }
  a { 
    text-decoration: none;
    border: 0;
    color: $gray-2;
    &:hover {
      text-decoration: none;
      border: 0;
    }
  }
  nav {
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        margin: 0 1rem;
        a {
          &.active {
            color: $black;
            font-weight: 500;
          }
        }
      }
    }
  }
}

 
section { 
  margin-bottom: 100px;
  @media screen and (min-width: 1400px) {
    margin-bottom: 100px;
  }
}
 
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 500; 
  // font-size: 100%;  
  line-height: 135%;
  color: $black;
  a {
    text-decoration: none; 
    border: 0;
  }
}

h1 {
  font-size: 100%;
  margin: 0;
  padding: 0;
  // margin: 0 0 0 1rem;
  // line-height: 60px; 
  text-decoration: none;
  font-weight: 500 !important;
  border: 0;
  &:hover {
    text-decoration: none;
    border: 0;
  }
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
  

img {
  max-width: 100%;
  height: auto;
} 

strong {
  font-weight: 500;
  color: $gray-1;
}

 

a {
  color: $black;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid $gray-4;
  &:hover { 
    color: $black; 
  }
} 
 


.text-capitalized {
  text-transform: uppercase;
}
.text-end {
  text-align: right !important;
}

.text-subtext {
  color: $gray-2;
  a {
    color: $black;
  }
}




blockquote {
  border-left: 3px solid $gray-4;
  margin: 0;
  padding: 0 1rem;
}

.text-center {
  text-align: center !important;
}


a[target=_blank] {
  &::after {
    // content: " ↗";
  }
}
 

.footnotes {
  font-size: 80%;
  opacity: .6;
}
 
#footer { 
  text-align: center;
  font-size: .8rem;
  margin-top: 100px;
  @media screen and (min-width:768px) {
    margin-top: 200px;
  }
  a {
    color: $gray-2;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {

    }
  }
}

article { 

  margin: 100px auto;
  @media screen and (min-width: 768px) {
    margin: 200px auto;
  }
  @media screen and (min-width: 1400px) {
    margin: 200px auto;
  }
  header {
    margin-bottom: 2rem;
    a {
      text-decoration: none;
      font-weight: 500;
      time {
        text-transform: uppercase;
        font-size: .8rem;
        color: $gray-2; 
        font-weight: 500;
      }
    }
  } 
  footer {
    font-size: .8rem;
    margin-top: 6rem; 
  } 
  img {
    // margin: 2rem 0;
  }
  h3 {
    margin-top: 2rem;
  }
  &.work {
    ul {
      li {
        margin-bottom: 1rem;
      }
    }
  } 
  
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.metadata {
  color: $gray-2; 
} 


figure {
  padding: 0;
  margin: 3rem 0;
  position: relative;
  img {
    margin: 0;
  }
  figcaption { 
    font-size: .8rem;
    line-height: 150%;
    color: $gray-2;
    text-align: center;
    margin-top: 1rem;
    a {
      text-decoration: none;
      border-bottom: 1px solid $gray-4;
    }
  }
}
  

.tags {
  span {
    &:not(:last-child):after {
      content: ", "
    }
    &:last-child:before {
      content: "or "
    }
    &:last-child:after {
      content: "."
    }
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: $gray-3;
  margin: 3rem auto;
}

.form-label {
  display: block;
}

.form-control {
  display: block;
  width: 100%;
  border: 1px solid $gray-4;
  padding: .2rem;
  border-radius: 3px;
}


.button {
  border: 1px solid $gray-4;
  padding: 8px 15px;
  border-radius: 4px;
  font-size: .9rem;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    border: 1px solid $black;
  }
  &::after {
    content: "→";
    margin-left: .5rem;
  }
}


mark {
  background: $yellow;
  padding: 0 5px;
}

.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: block;
    .border {
      border-bottom: 1px dashed $gray-4;
      height: 1px;
      margin-top: 16px;
      margin-left: .5rem;
      margin-right: .5rem;
    }
    .title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; 
      max-width: 150px;
      @media screen and (min-width: 552px) {
        max-width: 200px;
      }
      @media screen and (min-width: 600px) {
        max-width: 350px;
      }
      @media screen and (min-width: 700px) {
        max-width: 400px;
      }
      @media screen and (min-width: 800px) {
        max-width: 450px;
      }
      @media screen and (min-width: 900px) {
        max-width: 500px;
      } 
      @media screen and (min-width: 1000px) {
        max-width: 550px;
      } 
    }
  }
}

.hero { 
  margin: 3rem 0;
  @media screen and (min-width: 1400px) {
    // https://css-irl.info/breaking-out-of-a-central-wrapper/
    width: 60vw;
    margin-left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
}

  


.bifold {
  @media screen and (min-width: 768px) {

  column-count: 2;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
       break-inside: avoid; /* IE 10+ */
  }
} 



.entries {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    padding: .5rem 0;
    &:not(:last-child) {
      // border-bottom: 1px solid $gray-4;
    }
    a { 
    }
    .title { 
    }
    time {

    }
  }
}

 


 
 


.wrapper {
  margin: 100px 30px;
  max-width: 650px;
  @media screen and (min-width: 768px) {
    margin: 200px auto;
  }
  @media screen and (min-width: 1400px) {
    margin: 200px auto;
  }
}



[class*="badge"] {
  padding: .3rem .6rem .2rem .6rem;
  border-radius: 20px;
  font-weight: 400;
  font-size: .8rem;
  color: rgba($black,0.8);
  background-color: $gray-5;
}

.badge-blue {background: $blue }
.badge-green {background: $green }
.badge-purple {background: $purple }
.badge-pink {background: $pink }
.badge-orange {background: $orange }
.badge-yellow {background: $yellow }

 


 .trail {
  color: $gray-2;
  &::before {
    content: " / ";
    margin: 0 .5rem;
  }
 }






 
.d-flex {
  display: flex !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}



.avatar {
  width: 60px;
  // border-radius: 60px;
  margin-top: -4px;
  border-radius: 50%;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  -webkit-animation-name: boing;
          animation-name: boing;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  a {
    text-decoration: none;
    border: 0;
    &:hover {
      text-decoration: none;
      border: 0;
    }
  }
}
@-webkit-keyframes boing {
  16.65% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  49.95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  83.25% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes boing {
  16.65% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  49.95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  83.25% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.logo:hover .avatar {
  -webkit-animation-name: boing;
          animation-name: boing;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.form-control, .btn {
  padding: .4rem .6rem;
}


.btn {
  // padding-top: 0.19rem;
  // padding-bottom: 0.19rem;
}

.pagination {

  font-size: .8rem;
}
