@import "../_sass/colors";

html, body {
  font-size: 17px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  } 
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 165%;
  background: #fff;
  color: $gray-1; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400; 
  @media (prefers-color-scheme: dark) {
    background: $black;
    color: white; 
  }
}


// TYPOGRAPHY

a {
  
  color: $gray-2;
  &:hover {
    color: $black;
    text-decoration-color: $black;
    @media (prefers-color-scheme: dark) {
      color: white;
      text-decoration-color: white;
    }
  }
}

strong {
  font-weight: 500;
}

blockquote { 
  margin: 0;
  padding-left: 1rem;
  border-left: 5px solid $gray-5;
  @media (prefers-color-scheme: dark) {
    border-color: $gray-1; 
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 500; 
  // font-size: 100%;  
  line-height: 135%;
  color: $black;
  margin: 0 0 1rem 0;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
  a {
    text-decoration: none; 
    border: 0;
    font-weight: 500; 
    color: $black;
    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }
}


.text-subtext, time {
  color: $gray-2;
  @media (prefers-color-scheme: dark) {
    color: $gray-4;
  }
}

.micro-header {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 80%;
  color: $gray-2;
  @media (prefers-color-scheme: dark) {
    color: $gray-4;
  }
}

.text-small {
  font-size: 80%;
}

.indieweb {
  a {
    text-decoration: none;
  }
}

// SECTIONS

#header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 20px;
  a {
    text-decoration: none;
  } 

  .row {
    --bs-gutter-x: 0;
  }

  .avatar {
    flex: 0 0 auto;
    width: 25%;
    @media screen and (min-width: 768px) {
      width: 17.5%;
    } 
  }

  .menu {
    flex: 0 0 auto;
    width: 65%;
    text-align : right;
    @media screen and (min-width: 768px) {
      text-align : center;
      width: 60%;
    } 
  }

  .mixtape {
    display: none;
    text-align: right;
    flex: 0 0 auto;
    width: 25%;
    font-size: 80%;
    color: $gray-2;
    line-height: 45px;
    a {
      text-decoration:  none;
    }
    @media (prefers-color-scheme: dark) {
      color: $gray-4;
    }
    @media screen and (min-width: 768px) {
      width: 17.5%;
      display: block;
    } 
  }
 
  nav {
    font-size: 90%;
    text-align: center;
    border: 1px solid $gray-5;
    // padding: .5rem;
    padding: 0 .5rem;
    line-height: 45px;
    border-radius: 3rem;
    display: inline-block;
    background: #fff;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(26,26,26,0.06);
    -moz-box-shadow: 0px 3px 20px 0px rgba(26,26,26,0.06);
    box-shadow: 0px 3px 20px 0px rgba(26,26,26,0.06);
    ul {
      list-style-type: none;
      margin: 0;
      padding:0;
      li {
        display: inline-block;
        margin: 0 .5rem; 
        a {
          font-weight: 500;
        }
      }
    }
  }
}

.header-content {

  margin: 30px auto 100px auto;
  max-width: 1000px;  
}

.avatar img {
  width: 41px;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(26,26,26,0.3);
-moz-box-shadow: 0px 0px 5px 0px rgba(26,26,26,0.3);
box-shadow: 0px 0px 5px 0px rgba(26,26,26,0.3);
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
}
@-webkit-keyframes boing {
  16.65% {
  -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  49.95% {
  -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  83.25% {
  -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
  -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes boing {
  16.65% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  49.95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  83.25% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.avatar img:hover {
  -webkit-animation-name: boing;
          animation-name: boing;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.wrapper {
  padding: 30px; 
  max-width: 600px;
  margin: 200px auto 0 auto;
  @media screen and (min-width: 768px) {
    margin: 100px auto;
    padding: 0;
  } 
  @media screen and (min-width: 1200px) {
    margin: 150px auto;
  } 
  @media screen and (min-width: 1400px) {
    margin: 200px auto;
  } 
}

// section {
//   margin: 50px 0;
// }

// article {
//   margin-top: 100px;
//   @media screen and (min-width: 768px) {
//     margin-top: 150px;
//   }
// }


#webmentions {
  margin-top: 50px; 
}

.comments {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 2rem;
  }
}

.reaction {
  img {
    width: 50px;
    border-radius: 50px;
  }
}

#footer {
  border-top: 1px solid $gray-5;
  color: $gray-2;
  font-size: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  @media (prefers-color-scheme: dark) {
    border-color: $gray-1; 
    color: $gray-4;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-left: .5rem;
      @media screen and (min-width: 768px) {
        margin-left: 1rem;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

.footer-content {
  padding: 10px 30px;
}

.d-none {
  display: none;
}

.diary {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;  
    h4 {
      line-height: 135%;
    }
    li {  
      line-height: 135%;
      border-bottom: 1px solid $gray-5; 
      @media (prefers-color-scheme: dark) {
        border-color: $gray-1; 
      }
      &:last-child { 
        border: 0;
      }
      a {
        text-decoration: none;
        color: $black;
        @media (prefers-color-scheme: dark) {
          color: white; 
        }
      }
    }
  }
}


.text-center {
  text-align: center;
}
.text-end {
  text-align: right;
}

.text-normal {
  font-weight: normal;
}

.text-lowercase {
  text-transform: lowercase;
}


 .post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  time {
    width: 120px;
    display: inline-block;
  }
 }

 .tags {
  margin: 0;
  padding: 0;
  list-style-type: none;
  span {
    &:not(:last-child):after {
      content: ", "
    }
    &:last-child:before {
      content: "or "
    }
    &:last-child:after {
      content: "."
    }
  }
  li {
    display: inline-block;
  }
}

hr {
  border: 0;
  margin: 3rem 0;
  border-top: 1px solid $gray-5;
  @media (prefers-color-scheme: dark) {
    border-color: $gray-1; 
  }
}


 // MEDIA

 figure {
  figcaption {
    text-align: center;
    margin: 1rem 5% 0;
    font-size: 80%;
    color: $gray-2;
    @media (prefers-color-scheme: dark) {
      color: $gray-4;
    }
  }
 }

 img {
  background-color: $gray-6;
  max-width: 100%;
  height: auto;
  border-color: $gray-5;
  border-radius: 10px;
  @media (prefers-color-scheme: dark) {
    border-color: $gray-1; 
    background-color: $gray-1;
  }
 }



//  // CUSTOM

//  .blur {
//   @media screen and (min-width: 768px) {
//     background: rgb(255,255,255);
//     background: linear-gradient(0deg, rgba(255, 255, 255,0) 27%, rgba(255, 255, 255,1) 73%);
//     filter: blur(4px);
//     height: 150px;
//     position: fixed;
//     top: -10px;
//     width: 100%;
//     left: 0;
//     @media (prefers-color-scheme: dark) {
//       background: rgb(26, 26, 26);
//       background: linear-gradient(0deg, rgba(26, 26, 26,0) 27%, rgba(26, 26, 26,1) 73%);
//     }
//   }
// }

.micro {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    margin-bottom: 3rem;
  }
}


// GRID

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}


.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.border { border: 1px solid; 
  border-color: $gray-5;
  @media (prefers-color-scheme: dark) {
    border-color: $gray-1; 
  }}
.border-top { border-top: 1px solid; 
  border-color: $gray-5;
  @media (prefers-color-scheme: dark) {
    border-color: $gray-1; 
  }}
.border-right { border-right: 1px solid; 
  border-color: $gray-5;
  @media (prefers-color-scheme: dark) {
    border-color: $gray-1; 
  }}
.border-bottom { border-bottom: 1px solid; 
  border-color: $gray-5;
  @media (prefers-color-scheme: dark) {
    border-color: $gray-1; 
  }}
.border-left { border-left: 1px solid; 
  border-color: $gray-5;
  @media (prefers-color-scheme: dark) {
    border-color: $gray-1; 
  }}

div[class^="border-"] {
  border-color: $gray-5;
  @media (prefers-color-scheme: dark) {
    border-color: $gray-1; 
  }
}



.m-0 {
  margin: 0;
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.mx-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.mx-3 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-4 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.mx-5 {
  margin-right: 3rem;
  margin-left: 3rem;
} 

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
} 

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
} 

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
} 

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.px-3 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-4 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.px-5 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 3rem;
} 
.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.webring {
  height: 17px;
  margin-top: 5px;
}

.work { 
  .hero {
    margin: 3rem 0;
  }
}

.callout {
  background-color: $gray-6;
  border: 1px solid $gray-4;
  box-shadow: 0 6px 0 1px $gray-6;
  padding: 2rem;
  border-radius: 10px;
  .title {
    font-size: 80%;
    font-weight: 500;
    text-transform: uppercase;
  }
  p {
    margin: 0;
  } 
}


.breakout { 
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  margin-top: 4rem;
  margin-bottom: 4rem;
}


.breakout-content {
  max-width: 1200px;
  margin: 0 auto;
}


.d-xs-none {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}