
#webmentions,.webmentions {
    position: relative;
    z-index: 100;
    line-height: 1.2
  }
  
  @media (max-width: 767.98px) {
    #webmentions,.webmentions {
        width:100%
    }
  }
  
  #webmentions ul,.webmentions ul {
    padding-left: 0;
    list-style: none;
    margin: 0 0 3rem 0;
    padding: 0
  }
  
  #webmentions ul:last-child,.webmentions ul:last-child {
    margin-bottom: 0
  }
  
  #webmentions ul li,.webmentions ul li {
    margin-bottom: 1rem
  }
  
  #webmentions ul li.reaction-reply,.webmentions ul li.reaction-reply {
    margin-left: .75rem;
    padding-left: 1rem;
    border-left: 2px solid #f3eae5
  }
  
  #webmentions a.reaction,.webmentions a.reaction {
    text-decoration: none
  }
  
  #webmentions a.reaction img,.webmentions a.reaction img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  .reaction {
    display: inline-block;
    margin: 6px 6px 6px 0; 
    vertical-align: middle; 
    img 
  }