---
layout: default
---
<article> 
  <h2 class="mt-0">I'm {{site.title}}, a researcher, designer, and queer facilitator from Amsterdam</h2>
    <div id="notes-entry-container">
      <content class="e-content"> 
        {{ content }}
      </content> 
    </div> 

    <div class="mt-5">
      <a href="/hello" class="button">Say hello</a>
      <a href="/follow" class="button">Follow me</a>
    </div>

    <!-- <hr class="my-5"/>

    <h3>What interests me</h3>
    <ul>
      <li>
        <h4 class="mb-1">Humanities, bavioral sciences, and theology</h4>
        <p>I enjoy thinking, learning, and writing about why we do things and what stories we produce in the process.</p>
      </li>
      <li>
        <h4 class="mb-1">DesignOps and ResearchOps</h4>
        <p>I like well-oiled machines, and my work in UX is, in part, focused on how designers and researchers can experience a better work life</p>
      </li>
      <li>
        <h4 class="mb-1">Self care as a basic need</h4>
        <p>I like well-oiled machines, and my work in UX is, in part, focused on how designers and researchers can experience a better work life</p>
      </li>
    </ul>  -->


</article>
