---
layout: default
---
<section>
  <div class="row">
    <div class="col-md-7">
      <div>
        <h1 class="mb-4">Heya, I'm Zinzy, and I’ve been yelling at Internet clouds since 1997.</h1>
        <p>You've reached my home on the Internet. In my 90s Spice Girls-themed bedroom, I taught myself how to build websites. I haven’t been the same since. At some point during this journey, making things for the Internet became my profession.</p>
        <p>By now, I have sixteen years of professional experience researching, designing, and building digital products. I'm currently wrapping up my time at edtech startup <a href="https://leeruniek.nl">Leeruniek</a>. Before that I spent five years leading design in travel technology at <a href="https://airtrade.com">Airtrade</a>. Between 2007 and 2015 I ran Studio Zinzy.</p>
        <p class="mb-0">I'm a UX researcher and designer specialized in making tools for people at work. I'm currently not available for contracting or full-time roles.</p>
      </div>
    </div>
    <div class="col-md-4 offset-md-1 mt-5 mt-md-0">
      <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1649240297/me/FullSizeRender_copy_y5whli.jpg" alt="" />
    </div>
  </div>
</section>

<div class="py-5 my-5">
</div>

<section>
  <div class="row d-flex align-items-center">
    <div class="col-md-4">
      <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1668440273/me/six.jpg" alt="" />
    </div>
    <div class="col-md-7 offset-md-1">
      <div>
        <h3 class="mb-4 mt-0">I come from a long line of reluctantly-Catholic, burgundian band geeks.</h3>
        <p>In the Deep Dutch South, I learned to embrace the health benefits of making music, the forests of the German border, and the importance of charcuterie.</p>
        <p>These days, I live in Amsterdam's finest neighborhood, de Indische Buurt. There, I share a shoebox and a petit garden with my partner Anja and our dog Lemonade (who may or may not have a blog, <a href="https://lemonade.waleson.us/" target="_blank" rel="noopener noreferrer">let's find out together</a>).</p>
        <p class="mb-0">Living here and with them, I'm learning about the necessity of belonging, the beauty of quietude, and the importance of a good vacuum cleaner.</p>
      </div>
    </div> 
  </div>
</section>

<div class="row">
  <div class="col-12">
    <hr>
  </div>
</div>

<section>
  <div class="row">
    <div class="col-md-7">
      <div>
        <h3>A little context</h3>
        <p>You've reached my home on the Internet. In my 90s Spice Girls-themed bedroom, I taught myself how to build websites. I haven’t been the same since. At some point during this journey, making things for the Internet became my profession.</p>
        <p>By now, I have sixteen years of professional experience researching, designing, and building digital products. I'm currently wrapping up my time at <a href="https://leeruniek.nl">Leeruniek</a>, an edtech company. As a designer, I'm specialized in making things for people at work.</p>
      </div>
    </div>
    <div class="col-md-4 offset-md-1">
      <!-- <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1649240297/me/FullSizeRender_copy_y5whli.jpg" alt="" /> -->
    </div>
  </div>
</section>


