<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}  
    <main class="wiki-wrapper">  
            <div class="row"> 
              <div class="col-lg-6">
                <h2 class="mt-0">I'm Zinzy Waleson, a researcher, designer, and queer facilitator from Amsterdam</h2>
                <div id="notes-entry-container">
                  <content>
                    {{ content }}
                  </content>
                </div> 
              </div>
              <div class="col-lg-5 offset-lg-1">
                <div class="row">
                  <div class="col-6">
                    <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1667744670/me/zinzy-1_telofx.jpg" alt="">
                  </div>
                  <div class="col-6">
                    <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1667744670/me/zinzy-2_eixpog.jpg" alt="">
                  </div>
                </div> 
              </div>
            </div> 

            <hr class="my-5"/>

            <div class="mt-5">
              <div class="row">
                <div class="col-lg-4">
                  <h3>My interests</h3>
                </div>
                <div class="col-lg-8">
                  <ul class="interests">
                    <li>
                      <h4>Humanities</h4>
                      <p>I enjoy reading papers and books on </p>
                    </li>
                    <li>Media studies</li>
                    <li>Gender studies</li>
                  </ul>
                </div>
              </div>
            </div>

            <hr class="my-5"/>

            <div class="mt-5">
              <div class="row">
                <div class="col-12">
                  <h3>A little context</h3>
                </div>
                <div class="col-lg-6">
                  <p>I was born and raised in the South of the Netherlands, in a complex childhood marked by marching bands, cultural Catholicism, and question marks about who, amid everybody else, I am. You'll find that, on this website, I don't shy away from those question marks.</p>
                  <p>I came to Utrecht to study the letters, and I enjoyed the seemingly endless learning opportunities that university life provides. I ran an absurdist magazine, worked as a freelance photographer on the side, and spent hours upon hours in dusty libraries copying obscure books as a research assistant.</p>
                  <p>I earned my undergraduate degree in language and literature with a thesis on focalization in the graphic novel adaptation of a Dutch classic. Narratology, adaptation, and transmediality remain some of my favorite topics.</p>
                  <p>Before I put my study books on the shelf for good, I spent a year in seminary studying theology at VU University. It taught me volumes on church history, how infinitely weird Scripture really is, and how strong one's back must be to be a queer person studying alongside young, fierce conservatives. I left after a year.</p>

                </div>
              </div>
            </div>
    </main>   
    {% include footer.html %} 
  </body>
</html>
