---
layout: default
---
<article class="h-entry">
  <h2>{{page.tagline}}</h2>
  {{content}}
</article>

<!-- 
<article class="h-entry"> 
  <div class="row">
    <div class="col-6">
      <h2 class="mt-0">{{page.tagline}}</h2> 
      <p>{{page.introduction}}</p>
    </div>
    <div class="col-6">
      <img src="https://res.cloudinary.com/dbi2zounq/image/upload/c_scale,w_900/v1667744670/me/zinzy-1_telofx.jpg" alt="">
    </div>
  </div>
  <div class="mt-3">
    {{content}}
  </div>
</article> -->