---
layout: default
---
<section>
  <div class="row">
    <div class="col-md-7">
      <div>
        <h2 class="mb-4">Heya, I'm Zinzy, and I’ve been yelling at Internet clouds since 1997.</h2>
        <p>You've reached my home on the Internet. In my 90s Spice Girls-themed bedroom, I taught myself how to build websites. I haven’t been the same since. At some point during this journey, making things for the Internet became my profession.</p>
        <p>By now, I have sixteen years of professional experience researching, designing, and building digital products. I'm currently wrapping up my time at <a href="https://leeruniek.nl">Leeruniek</a>, an edtech company.</p>
        <p>Before this, I spent five years leading design at travel technology market leader <a href="https://airtrade.com">Airtrade</a>. Before that, I founded Studio Zinzy in 2007, a design boutique working across publishing, healthcare, fine arts, travel, and entertainment.</p>
        <p>As a designer, I'm specialized in making things for people at work. I'm currently not available for contracting, side projects, or fulltime roles.</p>
      </div>
    </div>
    <div class="col-md-4 offset-md-1">
      <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1649240297/me/FullSizeRender_copy_y5whli.jpg" alt="" />
    </div>
  </div>
</section>

<div class="row">
  <div class="col-12">
    <hr>
  </div>
</div>

<section>
  <div class="row">
    <div class="col-md-7">
      <div>
        <h3>A little context</h3>
        <p>You've reached my home on the Internet. In my 90s Spice Girls-themed bedroom, I taught myself how to build websites. I haven’t been the same since. At some point during this journey, making things for the Internet became my profession.</p>
        <p>By now, I have sixteen years of professional experience researching, designing, and building digital products. I'm currently wrapping up my time at <a href="https://leeruniek.nl">Leeruniek</a>, an edtech company. As a designer, I'm specialized in making things for people at work.</p>
      </div>
    </div>
    <div class="col-md-4 offset-md-1">
      <!-- <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1649240297/me/FullSizeRender_copy_y5whli.jpg" alt="" /> -->
    </div>
  </div>
</section>


