---
layout: default
--- 
<section>
  <div class="row"> 
    <div class="col-md-4 offset-md-1 order-1 order-md-2 mb-5 mb-md-0">
      <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1649240297/me/FullSizeRender_copy_y5whli.jpg" class="portrait" alt="">
    </div>
    <div class="col-md-7 order-2 order-md-1">
      <h3 class="mb-3">I’m a learner and sometimes I make things about what I learn. Since I was a child, the Internet has been a medium I use to do so.</h3>   
      <p>I'm a Santomean-Dutch queer person who grew up in the Dutch South. These days, home is Amsterdam. There, in its finest neighborhood, de Indische Buurt, I share a shoebox with Anja, and soon also puppy Lemonade.</p>
      <p>In my spare time I like to make music, swim, write, cook, read short stories and comics, enjoy the city, and explore cinema. I like to teach myself new things, and currently I’m diving head-first into <a href="https://www.youtube.com/watch?v=TWu9VxVQ6Lg&ab_channel=IgnasMaknickas" target="_blank" rel="noopener noreferrer">minimalist compositions for the piano</a>.</p>

      <h3 class="mt-5 mb-3">For 16 years I’ve had the pleasure of making a wild variety of things for the Internet.</h3>

      <p>Drawing from training in research, linguistics, literature, and — yes — theology, I current work as a Design Manager at edtech scale-up <a href="https://leeruniek.nl">Leeruniek</a>.</p>
      <p>I love dreaming big and working small to improve habits, teams, products, and services. Being a catalyst for better collaboration and design thinking is possibly my favorite thing in the world.</p>


    </div>
  </div> 
</section> 
<!-- 
<section>
  <figure class="my-5">
    <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1673958111/me/zinzy-at-a-party_vrzlqr.jpg" alt="">
    <figcaption>Me at an office party in 2019</figcaption>
  </figure>
</section>

<div class="row"> 
  <div class="col-12 col-lg-7"> 
    <h3 class="mb-5">For 16 years I’ve had the pleasure of making a wild variety of things for the Internet.</h3>
  </div>
  <div class="col-12 col-lg-7">  
    <p>For 16 years, I've been making a living by building digital products. Drawing from training in research, linguistics, literature, and — yes — theology, I current work as a Design Manager at edtech scale-up <a href="https://leeruniek.nl">Leeruniek</a>.</p>
    <p>I love dreaming big and working small to improve habits, teams, products, and services. Being a catalyst for better collaboration and design thinking is possibly my favorite thing in the world.</p>
  </div>
  <div class="col-md-4 offset-md-1 order-1 order-md-2">
    <h4 class="h6">Zinzy at work</h4>
    <ul class="list-unstyled">
      <li class="mt-3">👔 I have a steamy love affair with SaaS enterprise</li>
      <li class="mt-3">Add WD-40 to habits, teams, services, and products</li>
      <li class="mt-3">🙋🏽 Ask questions, and question answers</li> 
    </ul>
  </div>
</div> -->