---
layout: default
---
<div class="index">
  <h2 class="mt-0">Things I've written about {{ page.title }}</h2>
{% for post in page.posts %}
  <article class="h-entry">  
  <p class="metadata">
    <a href="{{post.url}}">
      <time class="dt-published" datetime="{{ post.date | date: "%B %-d, %Y" }}">{{ post.date | date: "%B %-d, %Y" }}</time>
    </a>
  </p> 
  <div id="notes-entry-container" class="e-content">
    <content> 
      {% if post.excerpt == "" %}
        {{ post.content }} 
      {% else %} 
        {{ post.excerpt}}
        <p><a href="{{post.url}}">Read more</a></p>
      {% endif %}
    </content> 
  </div> 
  </article> 
{% endfor %}
</div>