---
layout: default
--- 
<p>These are things I've written about #{{ page.title }}.</p>
 

<section class="mt-10">
  <!-- <h2>Blog entries</h2> -->
  <ul>
    {% for post in page.posts %} 
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %} 
  </ul>  
</section>
<!-- 
<section class="section-small">
  <h2>Resources</h2>
  {% for post in site.resources %}
  <ul>
    {% if post.tags contains page.title %}
      <li><a href="{{post.url}}">{{post.title}}</a></li>
    {% endif %}
  </ul>
{% endfor %} 
</section>


<section class="section-small">
  <h2>Notes</h2>
<ul class="notes">
  {% assign notes = site.notes | sort: 'date' | reverse %} 
  {% for post in notes %}
  {% if post.tags contains page.title %}
  <li class="item mb-5">
    <div class="time">
      <a href="{{post.url}}"><time class="dt-published" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time></a>
    </div>
    <div>
      <div>
        {% if post.photo %}
          <img class="u-photo" src="{{ post.photo }}" alt="">
        {% endif %}
        {% if post.replyTo %}
          <p class="mt-0 u-in-reply-to">
            Replied to <a href="{{post.replyTo}}" rel=in-reply-to class="u-in-reply-to text-url" target="_blank">{{post.replyTo}}</a>
          </p> 
        {% endif %}
        {% if post.likeOf %}
          <p class="mt-0">
            Liked <a href="{{post.likeOf}}" class="u-like-of text-url" target="_blank">{{post.likeOf}}</a> 
          </p> 
        {% endif %} 

      <content>
          {{post.content}} 
      </content>
      </div>
      </div>
      </li> 
      {% endif %}
      {% endfor %} 
</ul>
</section> -->



<!-- Pagination links -->
<!-- <div class="row">
  <div class="col-4">
    {% if page.previous_page %}
      <a href="{{ page.previous_page_path }}" class="previous">
        Newer
      </a>
    {% else %}
    <span class="text-subtext">Newer</span>
    {% endif %}
  </div>
  <div class="col-4 text-center">
    {{ page.page }} of {{ page.total_pages }}
  </div>
  <div class="col-4 text-end">
  {% if page.next_page %}
    <a href="{{ page.next_page_path }}" class="next">Older</a>
    {% else %}
    <span class="text-subtext">Older</span>
  {% endif %}
  </div> 
</div> -->