---
layout: default
---
<section>
  <h2>Posts</h2>
  {% include archive-posts.html %}
</section>

<section>
  <h2>Working notes</h2>
  {% include notes.html %}
</section>



<!-- 

<section class="journal">
  
  {% for post in site.posts %}
    <article class="h-entry">
      <header> 
        
        <time datetime="{{ post.date | date: "%A, %e %B, %Y" }}"><a href="{{post.url}}">{{ post.date | date: "%A, %e %B, %Y" }}</a></time>

        {% if post.u-like-of %}
          <p>Liked <a href="{{post.u-like-of}}" class="u-like-of">{{post.u-like-of-name}}</a></p>
        {% endif %} 


        {% if post.u-in-reply-to %}
        <p class="mb-2">Replied to <a href="{{post.u-in-reply-to}}" target="_blank" class="u-like-of">{{post.u-in-reply-to-name}}</a>: </p>
       {% endif %} 
         

        {% if post.title != "" %}
          <h2 class="h6">
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </h2>
          
        {% endif %}
      </header> 



      {% if post.title == "" %}
      <div id="notes-entry-container">
        <content class="e-content"> 
          {{ post.content }}
        </content> 
      </div>


    {% else %}
    <div id="notes-entry-container">
      <content class="e-content"> 
        {{ post.excerpt }}
      </content> 
    </div>

  <div class="mt-4">
    <a href="{{post.url}}" class="button">Read this story</a>
  </div>

    {% endif %} 


    </article>
  {% endfor %}
</section> -->
