---
layout: page
---
<section class="">

 {% comment %} Creates an empty array {% endcomment %}
 {% assign tags = "" | split:"" %}
 
 {% comment %}Creates an array of tags names{% endcomment %}
 {% for t in site.tags %}
   {% assign tags = tags | push: t[0] %}
 {% endfor %}

 {% assign sorted_tags = tags | sort_natural %}

 <ul class="list-none m-0 p-0">
  {% for t in sorted_tags %}
    <li class="inline-block bg-amber-300/20 hover:bg-amber-300/10 text-sm rounded-full p-1 pl-2 mr-1 mb-1">
      <a href="tag/{{ t | slugify }}" class="no-underline">{{ t }}</a>
      <span class="bg-amber-300/50 inline-block w-4 h-4 text-xs text-center rounded-full ml-2 dark:text-black">{{ site.tags[t].size }}</span>
    </li>
  {% endfor %}
  </ul>
</section>