---
layout: default
---
Exploring: <a href="/posts" class="underline">posts</a> / tags

<section class="mt-10">
  <!-- <ul>
    {% for tag in site.tags | sort: 'title' %}
      <li><a href="tag/{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a></li>
    {% endfor %}
  </ul>

 -->

 {% comment %} Creates an empty array {% endcomment %}
 {% assign tags = "" | split:"" %}
 
 {% comment %}Creates an array of tags names{% endcomment %}
 {% for t in site.tags %}
   {% assign tags = tags | push: t[0] %}
 {% endfor %}

 {% assign sorted_tags = tags | sort_natural %}

 <ul>
  {% for t in sorted_tags %}
    <li><a href="tag/{{ t | slugify }}" class="post-tag">{{ t }}</a> ({{ site.tags[t].size }})</li>
  {% endfor %}
  </ul>
</section>