---
layout: default
---  

{{content}}
   
{% assign notes = site.notes | sort: 'date' | reverse %}  
<ul class="">
  {% for post in notes %}
  <li class="mt-10 border dark:border-zinc-600 hover:border-slate-300 p-5 rounded transition duration-300 ease-in-out"> 
    <div class="prose dark:prose-invert">  
      {% if post.photo %}
        <img src="{{post.photo}}" alt="" class="mb-5">
      {% elsif post.replyTo %}
      <p class="mt-0 u-in-reply-to">
        Replied to <a href="{{post.replyTo}}" rel=in-reply-to class="u-in-reply-to text-url" target="_blank">{{post.replyTo}}</a>
      </p> 
      {% elsif post.likeOf %}
      <p class="mt-0">
        Liked <a href="{{post.likeOf}}" class="u-like-of text-url" target="_blank">{{post.likeOf}}</a> 
      </p> 
    {% endif %} 
    <content>
      {{post.content}} 
    </content>

    </div>
    <p class="mt-3">
      <a href="{{post.url}}"><time class="dt-published text-sm text-slate-500 dark:text-zinc-500" datetime="{{ post.date | date: "%-d %b %Y" }}">{{ post.date | date: "%-d %b %Y" }}</time></a>
    </p>
    </li> 
    {% endfor %} 
</ul>