---
layout: default
---
<div class="mb-5">
<div id="notes-entry-container">
    <content>
    {{ content }}
    </content>
</div> 
</div>
<form action="https://getform.io/f/724d9a8c-269b-43c7-ad66-4b966655b03b" method="POST">

    <div class="row">
        <label for="formName">Name</label>
        <input type="text" name="Name" id="formName">
        <label for="formEmail">Email</label>
        <input type="email" name="Email" id="formEmail">
        <label for="formMessage">Message</label>
        <textarea type="text" name="Message" id="formMessage" rows="10"></textarea>
    </div>  
    <!-- add hidden Honeypot input to prevent spams -->
    <input type="hidden" name="_gotcha" style="display:none !important">
    <div class="text-right">
        <button type="submit" name="Submit">Send</button>
    </div>
</form>