---
layout: default
---
<div class="mb-5">
<div id="notes-entry-container">
    <content>
    {{ content }}
    </content>
</div> 
</div>
<form action="https://getform.io/f/724d9a8c-269b-43c7-ad66-4b966655b03b" method="POST">

    <div class="row">
        <div class="mb-5">
            <label for="formName">Name</label>
            <input type="text" name="Name"class="mt-3 form-input border-slate-200 w-full rounded" id="formName">
        </div>
        <div class="mb-5">
            <label for="formEmail">Email</label>
            <input type="email" name="Email" class="mt-3 form-input border-slate-200 w-full rounded" id="formEmail">
        </div>
        <div class="mb-5">
            <label for="formMessage">Message</label>
            <textarea type="text" name="Message" class="mt-3 form-input border-slate-200 w-full rounded" id="formMessage" rows="10"></textarea>
        </div>
    </div>  
    <!-- add hidden Honeypot input to prevent spams -->
    <input type="hidden" name="_gotcha" style="display:none !important">
    <div class="text-right">
        <button type="submit" class="button" name="Submit">Send</button>
    </div>
</form>