<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
          <!-- {% include header.html %} -->

          <header id="header">
            <h1 class="d-inline"><a href="/">Hey</a> <span class="subtext mx-2">|</span> {{page.title}}</h1>
          </header>
          <main>{{ content }}</main>  
          {% include footer.html %}
        </div>
      </div>
    </div>   
  </body>
</html>
