<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>  

    <header id="header">
      Zinzy Waleson Geene has been yelling at Internet clouds since 1997
      <nav>
        <ul class="">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/now">Now</a></li>
          <li><a href="/sitemap">Sitemap</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    {% include footer.html %} 
  </body>
</html>

