---
layout: default
--- 
<section class="diary">

  <div class="mb-5">
    <div class="micro-header mb-2">{{ page.title }}</div>
    <h1 class="mb-0">{{ page.subtitle }}</h1>
  </div>

  {% assign diary = site.diary | sort: 'date' | reverse %}
  <ul class="diary">
    {% for post in diary %}

  <li class="py-3">
    <div class="row">
      <div class="col-9">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </div>
      <div class="col-3 text-end">
        <time datetime="{{ post.date | date: "%y/%m/%d" }}">{{ post.date | date: "%y/%m/%d" }}</time>
      </div>
    </div>
  </li>
{% endfor %}
  </ul>