---
layout: default
---


<section class="journal">
  
  {% for post in site.posts %}
    <article class="h-entry">
      <header> <time datetime="{{ post.date | date: "%A, %e %B, %Y" }}"><a href="{{post.url}}">{{ post.date | date: "%A, %e %B, %Y" }}</a></time>

        {% if post.u-like-of %}
          <p>Liked <a href="{{post.u-like-of}}" class="u-like-of">{{post.u-like-of-name}}</a></p>
        {% endif %} 


        {% if post.u-in-reply-to %}
        <p class="mb-2">Replied to <a href="{{post.u-in-reply-to}}" target="_blank" class="u-like-of">{{post.u-in-reply-to-name}}</a>: </p>
       {% endif %} 
         

        {% if post.title != "" %}
          <h2>
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </h2>
        {% endif %}
      </header> 
      <div id="notes-entry-container">
        <content class="e-content"> 
          {{ post.content }}
        </content> 
      </div>
    </article>
  {% endfor %}
</section>
