---
layout: default
--- 
<h2 class="mb-5">My diary collects slices of life: little moments of thinking aloud, changing my mind, connecting the dots.</h2>


<section class="diary-full">
  <div class="row">
    <div class="col-xl-8 offset-xl-2">
      {% assign diary = site.posts | sort: 'date' | reverse %}  
        {% for post in diary %} 
        <article>

          {% if post.hero-portrait %}

          <div class="breakout">
            <div class="breakout-content">
              <div class="breakout-portrait">
                <img src="{{post.hero}}" alt="..." / class="">
              </div>
            </div>
          </div>   
          {% else %}
  
          <div class="breakout">
            <div class="breakout-content">
                <img src="{{post.hero}}" alt="..." />
            </div>
          </div>   
  
        {% endif %} 
          <header class="mb-5 text-center">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <time datetime="{{ post.date | date: "%A, %B %-d, %Y" }}">{{ post.date | date: "%A, %B %-d, %Y" }}</time>
          </header> 
          {{post.content}}
        </article>
        {% endfor %}  
    </div>
  </div>

</section>

 
 