---
layout: default
---
<article class="prose dark:prose-invert mb-10">
  <h2>{{page.title}}</h2>
  <p>{{page.tagline}}</p>

  <div class="my-10">
    <img src="{{page.hero}}" alt="..." class="">
  </div>
  <div>
    {{content}}
  </div>
</article>

<section class="mt-20">
  <div class="prose dark:prose-invert">
    <h3 class="">Posts with {{page.title}}</h3>
  </div>
  {% assign diary = site.posts | sort: 'date' | reverse | where_exp:"item", "item.faces contains page.title" %}  
    <ul class="mt-5 divide-y dark:divide-zinc-600">
      {% for post in diary %} 
      <li class="py-2 flex">
        <div class="grow"><a href="{{ post.url }}">{{ post.title }}</a></div>
        <time datetime="{{ post.date | date: "%-d %b %Y" }}" class="flex-none text-gray-500">{{ post.date | date: "%-d %b %Y" }}</time>
      </li>  
      {% endfor %}
    </ul>
</section>
 

<section class="mt-20">
  <div class="prose dark:prose-invert">
    <h3 class="mb-10">All faces</h3>
  </div>
  {% assign faces = site.faces %}  
  <div class="grid grid-cols-3 md:grid-cols-4 gap-4">
    {% for face in faces %}
      {% if face.slug == page.slug %}
          <img src="{{face.hero}}" alt="" class="object-cover aspect-square grayscale opacity-50" loading="lazy">
        {% else %}
          <a href="/faces/{{face.slug}}"><img src="{{face.hero}}" alt="" class="object-cover aspect-square" loading="lazy"></a>
      {% endif %} 
    {% endfor %} 
  </div>
</section>
