---
layout: default
---
<section>
  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>
  </div> 
</section> 

  <section>
    <h2 class="shy">Latest posts</h2>
    {% assign posts = site.posts | where_exp: "post", "post.title != ''" %} 
    {% for post in posts limit: 3 %}
      {% unless post.title contains "Now" %}
        <div class="mt-4">
          <h3 class="mb-0"><a href="{{post.url}}"> {{ post.title }}</a></h3>
        <time datetime="{{ post.date | date: "%A, %B %-d, %Y" }}">{{ post.date | date: "%A, %B %-d, %Y" }}</time> 
        <p>{{ post.excerpt }}</p>
        </div> 
      {% endunless %}
    {% endfor %} 
    <div class="mt-4">
      <a href="/blog" class="button">See all blog posts</a>
    </div>
  </section>

  <section>
    <h2 class="shy">My working notes</h2>
    <p>I write in public about what has my interest. Notes usually start out small (or empty), and grow as I do. The notes are densely linked, unfinished, possibly incorrect, and always ready for improvement.</p>

    <div class="mt-4">
      <h3 class="shy">Topics</h3>
      {% assign notes = site.notes | where_exp: "item", "item.pile == true" %}
      <ul class="interests">
        {% for note in notes %}
        <li><a href="{{note.url}}">{{ note.title }}</a></li>  
        {% endfor %}
      </ul> 
    </div>
    <div class="mt-4">
      <h3 class="shy">Recently changed</h3>
      <ul class="">
        {% assign notes = site.notes | sort: 'last_modified_at' | reverse  %}
        {% for note in notes limit: 6 %}
            <li>
              <a href="{{note.url}}">{{ note.title }}</a>
            </li>  
        {% endfor %}
      </ul>
    </div>
  </section>







