---
layout: default
---
<article class="h-entry"> 
  <div class=" ">
    <div class="prose dark:prose-invert"> 
      {% if page.audience %}
        <div class="card mb-3">
          <div class="card-body px-4">
            <em>Intended audience:</em> {{page.audience}}
          </div>
        </div>
      {% endif %}
      {% if page.standpoint %}
        <div class="card mb-3">
          <div class="card-body px-4">
            <span class="d-inline h5 me-3 mb-0">Please keep in mind</span>
            <span class="d-inline">What I've written below is very much a reflection of my experiences on this particular subject. If your context is similar to mine, you might find this useful. Otherwise, feel free to disregard what you read.</span>
          </div>
        </div>
      {% endif %}
      <div id="notes-entry-container">
        <content class="e-content"> 
          {{ content }}
        </content> 
      </div> 
    </div>



    <footer class="">
      <div class="my-10">
        {% if page.backlinks.size > 0 %}
        <div class="">
          Pages that link here:
            
          <ul class="">
            {% for backlink in page.backlinks %} 
            <li>
              <a class="internal-lin underline" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a>
              {% if backlink.path contains "_posts" %}
                <time class="" datetime="{{ backlink.date | date: "%Y-%m-%d" }}">({{ backlink.date | date: "%Y-%m-%d" }})</time>
              {% endif %}
            </li>
            {% endfor %} 
          </ul>
        </div>
        {% endif %}
      </div>
    
    <div class="webmentions mt-5">
    <noscript>I use client-side Javascript to display replies to this page, or <a href="mailto:zinzy@pm.me?subject={{ page.title | uri_escape }}" title="Reply to this post" rel="noopener noreferrer">webmentions</a>. I appreciate you in having Javascript disabled, but it does mean you won't be able to see the conversation going on.</noscript>
    <div id="webmentions"></div>
    </div>
    </footer>

</article>