---
layout: default
---

<article class="h-entry"> 
  <div class=" ">
    <div class="prose dark:prose-invert"> 
      {% if page.audience %}
        <div class="card mb-3">
          <div class="card-body px-4">
            <strong>Intended audience:</strong> {{page.audience}}
          </div>
        </div>
      {% endif %}
      {% if page.standpoint %}
        <div class="card mb-3">
          <div class="card-body px-4">
            <span class="d-inline h5 me-3 mb-0">Please keep in mind</span>
            <span class="d-inline">What I've written below is very much a reflection of my experiences on this particular subject. If your context is similar to mine, you might find this useful. Otherwise, feel free to disregard what you read.</span>
          </div>
        </div>
      {% endif %}
      <div id="notes-entry-container">
        <content class="e-content"> 
          {{ content }}
        </content> 
      </div> 
    </div>



    <footer class="text-sm">
      <div class="border rounded mt-20">
        <!-- <div class="grid grid-cols-2">
          <div class="border-r p-4">
            {% if page.previous.url %}
              <p class="text-slate-500">Older</p>
              <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
            {% endif %}
          </div>
          <div class="text-right p-4">
            {% if page.next.url %}
              <p class="text-slate-500">Newer</p>
              <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
            {% endif %}
          </div>
        </div>  -->
        <div class="p-4">
          <p><strong>Let me know what you think</strong> <a href="/site#privacy">I won't know you've been here</a> unless you tell me. Let me know what you think about this either via <a href="mailto:zinzy@pm.me?subject=Re: '{{page.title}}'" class="underline">email</a>, <a href="https://tech.lgbt/@zinzy" target="_blank" rel="noopener noreferrer" class="underline">Mastodon</a> or <a href="https://indieweb.org/Webmention" target="_blank" rel="noopener noreferrer" class="underline">webmention</a>. I would love to read about your perspective.</p>
        </div>

        {% if page.backlinks.size > 0 %}
        <div class="border-t p-4">
          <strong>Pages that link here</strong>
            
          <ul class="">
            {% for backlink in page.backlinks %} 
            <li>
              <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a>
              {% if backlink.path contains "_posts" %}
                <time class="text-slate-500" datetime="{{ backlink.date | date: "%Y-%m-%d" }}">({{ backlink.date | date: "%Y-%m-%d" }})</time>
              {% endif %}
            </li>
            {% endfor %} 
          </ul>
        </div>
        {% endif %}
        <div class="border-t p-4 text-slate-500">
          This page is part of <a href="/garden" class="text-black">my digital garden</a>.
        </div>
      </div>
    
    <div class="webmentions mt-5">
    <noscript>I use client-side Javascript to display replies to this page, or <a href="mailto:zinzy@pm.me?subject={{ page.title | uri_escape }}" title="Reply to this post" rel="noopener noreferrer">webmentions</a>. I appreciate you in having Javascript disabled, but it does mean you won't be able to see the conversation going on.</noscript>
    <div id="webmentions"></div>
    </div>
    </footer>

</article>