---
layout: default
---
{{content}}

<section class="my-10">
  <form action="/submitted" name="guestbook" netlify netlify-honeypot="not-for-humans">
    <p style="display: none;">
      <label>Don’t fill this out if you're human: <input name="not-for-humans" /></label>
    </p>
    <p><label><input placeholder="Name" type="text" name="name" class="mt-5 form-input border-slate-200 w-full rounded dark:bg-zinc-800 dark:border-zinc-600 dark:placeholder:text-zinc-500" /></label></p>
    <p><label><input placeholder="Website" type="url" name="website" class="mt-5 form-input border-slate-200 w-full rounded dark:bg-zinc-800 dark:border-zinc-600 dark:placeholder:text-zinc-500" /></label></p>
    <p><label><textarea placeholder="Message" name="message" class="mt-5 form-input border-slate-200 w-full rounded dark:bg-zinc-800 dark:border-zinc-600 dark:placeholder:text-zinc-500"></textarea></label></p>
    <p class="text-right mt-5">
      <button type="submit">Submit</button>
    </p>
  </form>
</section>
 


{% for message in site.data.guestbook_messages reversed %}
  <div class="guestbook-entry">
    <div class="guestbook-entry-author"><span style="font-weight: bold;">{{ message.author }}</span> ({{ message.timestamp | date: "%Y-%m-%d" }})</div>
    <div class="guestbook-entry-body">{{ message.body }}</div>
  </div>
{% endfor %}