---
layout: default
---    

<p id="demo"></p>

<section>
  <p>I'm a researcher and designer specialized in making products for people at work. I live in Amsterdam<span data-timestamp-text=", where it's {time}"></span>. This is my personal website. I come here to share soft stances, lived experiences, and critical notes on the things I hold dear.</p>
</section>

<section>
  <ul class="menu">
    <li><a href='/now'>Now</a></li>
    <!-- <li><a href='/then'>Then</a>: stories from the annals of history</li> -->
    <li><a href='/hello'>Hello</a></li>
    <li><a href='/follow'>Follow</a></li>
    <li><a href='/uses'>Uses</a></li>
    <li><a href='/site'>Site</a></li>
  </ul>
</section>
 

<section> 
  <div class="mb-1">
    <h2 class="d-inline">Notes</h2>
    <a href="/notes">All notes</a>
    <a href="/notes.xml">RSS</a>
  </div> 
    {% assign notes = site.notes | sort: 'date' | reverse %} 
    {% for post in notes | limit: 1 %} 
      <div class="time">
        <a href="{{ post.url }}" class="date"><time class="dt-published" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time></a>
      </div>
      <div>
        {% if post.replyTo %}
          <p class="mt-0 u-in-reply-to">
            Replied to <a href="{{post.replyTo}}" rel=in-reply-to class="u-in-reply-to text-url" target="_blank">{{post.replyTo}}</a>
          </p> 
        {% endif %}
        {% if post.likeOf %}
          <p class="mt-0">
            Liked <a href="{{post.likeOf}}" class="u-like-of text-url" target="_blank">{{post.likeOf}}</a> 
          </p> 
        {% endif %} 

        <content>
            {{post.content}} 
        </content> 
        {% endfor %} 
      </div> 
</section> 

<section> 
  <div class="mb-1">
    <h2 class="d-inline">Writing</h2>
    <a href="/writing">All writing</a>
    <a href="/feed.xml">RSS</a>
  </div>
  <div class="diary">
    {% assign diary = site.posts | sort: 'date' | reverse %}  
    <ul>
      {% for post in diary | limit: 5 %}
      <li class="">
        <div class="time"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time></div>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li> 
      {% endfor %} 
    </ul>
  </div>
</section>


 
<section>
  <h2>Resources</h2>
  {% assign resources = site.resources | where_exp:"item", "item.show != false" %}  
  <ul class="diary list-unstyled">
    
    {% for post in resources %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> ({{ post.type }})
    </li>
  {% endfor %} 
  </ul>
</section>





