---
layout: default
--- 
<article>
  <header>
    <h2>Journal</h2>
    {{content}}
  </header>
  
  <ul class="entries mt-3">
    {% for post in site.posts %} 
    <li>
      <div class="row mb-3 mb-md-0">
        <div class="col-md-3">
          <time class="dt-published" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time>
        </div>
        <div class="col-md-9">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
      </div> 
    </li>
    {% endfor %} 
  </ul>
</article>