---
layout: default
---
<h1>{{page.title}}</h1>
{{content}}

<section>
  {% assign months = 
    site.links | group_by_exp:"post", "post.date | date: '%B %Y'" | sort: 'date' | reverse %}
    
    {% for month in months %}
    <article class="item">
      <h3>{{ month.name }}</h3>
      {% for item in month.items %}
        <p>
         <a href="{{ item.like-of }}" target="_blank">{{ item.title }}</a>
         <small>{{ item.like-of | remove:'https://' | remove:'www.' | split:'/' | first }}</small>
       </p>
      {% endfor %}
    </article>
    {% endfor %}
</section>