---
layout: default
---  
<div class="mb-5">
  <h2>Micro</h2>
  {{content}}
</div>
  
  <ul class="">
    {% assign micro = site.micro | sort: 'date' | reverse %}
    {% for post in micro %} 
    <li class=""> 
        <header>  

          <p class="">
            <a href="{{ post.url }}"><time class="dt-published" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %e, %Y" }}</time></a>{% if post.microType == 'reply' %}, in reply to <a href="{{post.replyTo}}" target="_blank">{{post.replyToUser}}</a>{% endif %}
          </p>
        </header> 
        {{post.content}} 
    </li>
    {% endfor %} 
  </ul> 