---
layout: default
---
<section class="micro">

  {% assign posts = site.posts | where_exp: "item", "item.title ==''" %}
  {% for post in posts %}

  <article class="h-entry">
  
    <p class="small mb-1">
      <a href="{{post.url}}"><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></a>

      {% if post.u-in-reply-to %}
      ⋅ Reply to <a class="u-in-reply-to" href="{{post.u-in-reply-to}}" target="_blank" rel="noopener noreferrer">{{post.u-in-reply-to-name}}</a>
      {% endif %}
      
      {% if post.u-like-of %}
      ⋅ Like
      {% endif %}
    </p>
    
    {% if post.u-like-of %}
      <a class="u-like-of" href="{{post.u-like-of}}" target="_blank" rel="noopener noreferrer">{{post.u-like-of-name}}</a>
    {% endif %}
  
    <div id="notes-entry-container" class="e-content">
      <content>
        {{ post.content }}
      </content> 
    </div>
      
  </article>
  {% endfor %}