---
layout: default
---

<article class="h-entry">

  <header>
    <h2 class="p-name">{{ page.title }}</h2>
    <div class="metadata note-description">{{ page.tagline }}</div>

    {% if page.audience %}
      <div class="card p-3 mt-5 small">
        <h3 class="h6">Intended audience</h3>
        <p>{{page.audience}}</p>
      </div>

    {% endif %}

  </header>

  <div id="notes-entry-container">
    <content>
      <div class="content">{{ content }}</div>
    </content>
  </div>

  <footer> 
    <p class="mt-0">This note is part of my {{ site.notes.size }} and ever-growing <a href="/wiki">public working notes</a>.</p>

    {% if page.backlinks.size > 0 %}
    <h3 class="h6 mt-4 mb-3">Linked mentions</h3>
    <ul class="backlinks">
      {% for backlink in page.backlinks %}
      <li>
      <a  href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a>
      </li>
      {% endfor %} 
    </ul>   
    {% endif %}

  <!-- <div class="mt-5">
    {% if page.tags.size > 0 %} 
    <ul class="tags"> 
        {% for tag in page.tags %}
        {%- assign t = tag | first -%}
          <li><a href="/tag/{{ tag | replace: ' ', '-' }}">{{tag}}</a></li>
        {% endfor %} 
    </ul>  
  {% endif %}
  </div> -->
  </footer>
    </article>