---
layout: default
---  

{{content}}
   
{% assign notes = site.notes | sort: 'date' | reverse %}  
<ul class="list-none m-0 p-0">
  {% for post in notes %}
<li class="mt-20"> 
  <div>
    <div>  
      {% if post.photo %}
        <img src="{{post.photo}}" alt="" class="mb-5">
      {% elsif post.replyTo %}
      <p class="mt-0 u-in-reply-to">
        Replied to <a href="{{post.replyTo}}" rel=in-reply-to class="u-in-reply-to text-url" target="_blank">{{post.replyTo}}</a>
      </p> 
      {% elsif post.likeOf %}
      <p class="mt-0">
        Liked <a href="{{post.likeOf}}" class="u-like-of text-url" target="_blank">{{post.likeOf}}</a> 
      </p> 
    {% endif %} 


    <content>
      {{post.content}} 
    </content>

    </div>
    <p class="mt-3">
      <a href="{{post.url}}"><time class="dt-published text-sm text-slate-500" datetime="{{ post.date | date: "%-d %b %Y" }}">{{ post.date | date: "%-d %b %Y" }}</time></a>
    </p>
    </li> 
    {% endfor %} 
</ul>