---
layout: default
---

<article class="">
  <header>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
    </time>
  </header>
  <content>
    {{ content }}
  </content>
</article>
 
<!-- 

{% if page.category == "Now" %} 
<div class="post">  
  <h3>Then</h3>
  {% for note in site.notes %}
    {% if note.categories contains 'Now' %}
    <h4><a href="{{ note.url }}">{{ note.title }}</a></h4>
    {{ note.excerpt }}
    {% endif %}
  {% endfor %}
</div>
{% endif %} -->


{% if page.backlinks.size > 0 %}
<h3 class="post">Notes mentioning this note</h3>
{% for backlink in page.backlinks %}
  <h4><a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a></h4>
  {{ backlink.excerpt | strip_html | truncatewords: 20 }}
{% endfor %}
{% else %} 
{% endif %}