---
layout: default
---
<article class="h-entry">
 
  <div>
    <!-- {% assign diary = site.notes | sort: 'date' | reverse %}   -->
  <ul class="notes">
      <li class="item">
        <div class="time mb-5">
          <a href="{{page.url}}" class="u-url"><time class="dt-published" datetime="{{ page.date | date: "%-d %b %Y" }}">{{ page.date | date: "%-d %b %Y" }}</time></a>
        </div>
        <div>
          {% if page.photo %}
            <img class="u-photo mb-5" src="{{ page.photo }}" alt="">
          {% endif %}
          {% if page.replyTo %}
            <p class="mt-0 u-in-reply-to">
              Replied to <a href="{{page.replyTo}}" rel=in-reply-to class="u-in-reply-to text-url" target="_blank">{{page.replyTo}}</a>
            </p> 
          {% endif %}
          {% if page.likeOf %}
            <p class="mt-0">
              Liked <a href="{{page.likeOf}}" class="u-like-of text-url" target="_blank">{{page.likeOf}}</a> 
            </p> 
          {% endif %} 
  
          <content class="e-content">
              {{page.content}} 
          </content>



          <footer class="text-sm">
            <div class="border rounded mt-20">
              <div class="grid grid-cols-2">
                <div class="border-r p-4">
                  {% if page.previous.url %}
                    <p class="text-slate-500">Older</p>
                    <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
                  {% endif %}
                </div>
                <div class="text-right p-4">
                  {% if page.next.url %}
                    <p class="text-slate-500">Newer</p>
                    <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
                  {% endif %}
                </div>
              </div> 
              <div class="border-t p-4">
                <h2 class="text-slate-500 font-normal">Join the conversation</h2>
                <p><a href="/site#privacy">I won't know you've been here</a> unless you tell me. Let me know what you think about this either via <a href="mailto:zinzy@pm.me">email</a> or <a href="https://indieweb.org/Webmention" target="_blank" rel="noopener noreferrer">webmention</a>. I would love to read about your perspective.</p>
              </div>
              {% if page.tags.size > 0 %} 
              <div class="border-t p-4">
                <h2 class="text-slate-500 font-normal inline-block mr-5">More about  </h2> 
                  {% assign sorted_tags = page.tags | sort %}
                  {% for tag in sorted_tags %}
                    {%- assign t = tag | first -%}
                    <span class="inline-block mr-3"><a href="/tag/{{ tag | replace: ' ', '-' }}">#{{tag}}</a></span>
                  {% endfor %}  
              </div>
              {% endif %}
            </div>
          
          <div class="webmentions mt-5">
          <noscript>I use client-side Javascript to display replies to this page, or <a href="mailto:zinzy@pm.me?subject={{ page.title | uri_escape }}" title="Reply to this post" rel="noopener noreferrer">webmentions</a>. I appreciate you in having Javascript disabled, but it does mean you won't be able to see the conversation going on.</noscript>
          <div id="webmentions"></div>
          </div>
          </footer>
    </div>
      </li> 
        </div>
    </ul>
  </div> 

</article>
 
 