---
layout: default
---  
<div class="mb-5">
  <header class="mb-5">
    <div class="micro-header mb-2">{{ page.title }}</div>
    <h1 class="p-name mb-0">{{ page.subtitle }}</h1>
  </header>
  {{content}}
</div>
  
<div class="diary">
  <!-- {% assign diary = site.notes | sort: 'date' | reverse %}   -->
  <ul>
    {% assign notes = site.notes | sort: 'date' | reverse %} 
    {% for post in notes %}
    <li class="mb-2">
      <div class="time">
        <a href="{{ post.url }}" class="date"><time class="dt-published" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time></a>
      </div>
      <div>
        {% if post.replyTo %}
          <p class="mt-0 u-in-reply-to">
            Replied to <a href="{{post.replyTo}}" rel=in-reply-to class="u-in-reply-to text-url" target="_blank">{{post.replyTo}}</a>
          </p> 
        {% endif %}
        {% if post.likeOf %}
          <p class="mt-0">
            Liked <a href="{{post.likeOf}}" class="u-like-of text-url" target="_blank">{{post.likeOf}}</a> 
          </p> 
        {% endif %} 

        <content>
            {{post.content}} 
        </content>
        </li> 
        {% endfor %} 
      </div>
  </ul>
</div>