---
layout: default
--- 
<section class="prose dark:prose-invert italic  mb-10">
  <p>This is a <a href="https://nownownow.com/" target="_blank" rel="noopener noreferrer" class=" font-normal">Now page</a>. It contains what I'd tell a friend I hadn't seen in a year. You should make a Now page for yourself.</p>
</section>


<section>
  <article class="prose dark:prose-invert">
    {% assign diary = site.posts | where_exp: "item", "item.category == 'now'" | sort: 'date' | reverse %} 
    {% for post in diary limit: 1 %}  
      <h2>{{post.title}}: <time datetime="{{ post.date | date: "%b %Y" }}">{{ post.date | date: "%b %Y" }}</time> </h2>   
      {{post.content}}
    {% endfor %} 
  </article>
</section>


<section class="mt-14">
  <div class="prose dark:prose-invert">
    <h2>All now pages</h2>
  </div>
  <ul class="mt-5 divide-y dark:divide-zinc-600">
    {% for post in site.categories.now  %} 
    <li class="py-2">
      <a href="{{ post.url }}">
        {{ post.title }}: 
        <time datetime="{{ post.date | date: "%b %Y" }}">{{ post.date | date: "%b %Y" }}</time> 
      </a>
    </li>  
    {% endfor %} 
  </ul>
</section>

<footer class="mt-14 italic  mb-10">  
    <div class="">
      <p><a href="/site#privacy" class="text font-normal ">I won't know you've been here</a> unless you tell me. Let me know what you think about this either via <a href="mailto:zinzy@pm.me?subject=Re:{{page.title}}" class="underline  font-normal ">email</a>, <a href="https://tech.lgbt/@zinzy" target="_blank" rel="noopener noreferrer" class="underline font-normal ">Mastodon</a> or <a href="https://indieweb.org/Webmention" target="_blank" rel="noopener noreferrer" class="underline font-normal ">webmention</a>. I would love to read about your perspective.

        <!-- {% if page.tags.size > 0 %} 
        Read more of what I've written about {% assign sorted_tags = page.tags | sort %}
            <ul class="inline">
              {% for tag in sorted_tags %}
              {%- assign t = tag | first -%}
              <li class="inline"><a href="/tag/{{ tag | replace: ' ', '-' }}" class=" font-normal ">{{tag}}</a></li>
            {% endfor %}  
            </ul> 
        {% endif %} -->
      </p>
    </div> 
<div class="webmentions">
<noscript>I use client-side Javascript to display webmentions to this page. I appreciate you in having Javascript disabled, but it does mean you won't be able to see the conversation going on.</noscript>
<div id="webmentions"></div>
</div>
</footer>