---
layout: default
---

{% for post in site.now reversed limit:1 %} 
  <article class="h-entry"> 
    <header>
      <h1 class="p-name"><a href="{{post.url}}"> {{ post.title }}</a></h1>
    </header>
      <div id="notes-entry-container" class="e-content">
        <content>
          {{ post.content }}
        </content> 
    </div>
  </article> 
{% endfor %} 

<hr class="my-5">

<h2>Then</h2>
<ul>
  {% for post in site.now reversed %}  
    <li><a href="{{post.url}}"> {{ post.title }}</a></li> 
  {% endfor %} 
</ul>


<!-- <hr class="my-5">

<section>
  <h2 class="mt-0 pt-0">Then</h2>
  <ul> 
    {% for post in site.tags.Now offset: 1 %}
      <li><a href="{{post.url}}">{{post.title}}</a></li> 
    {% endfor %}
  </ul> 
</section>
  -->