---
layout: default
---

<article class="h-entry col-md-6"> 
  <header class="mb-3">
    <h2>{{ page.title }}</h2>
    {% if page.title == "Now" %}
      <p><i>Last updated on <time datetime="{{ page.date | date: "%A, %B %-d, %Y" }}">{{ page.date | date: "%A, %B %-d, %Y" }}</time></i></p>
    {% endif %} 
  </header>
  <div id="notes-entry-container">
    <content class="e-content"> 
      {{ content }}
    </content> 
  </div> 

  <div class="webmentions">
    <noscript>I use client-side Javascript to display replies to this page, or <a href="mailto:zinzy@pm.me?subject={{ page.title | uri_escape }}" title="Reply to this post" rel="noopener noreferrer">webmentions</a>. I appreciate you in having Javascript disabled, but it does mean you won't be able to see the conversation going on.</noscript>
    <div id="webmentions"></div>
  </div>
</article>