---
layout: default
---
<article class="h-entry"> 
    <header> 
      <h2 class="p-name m-0 p-0">
      {% if page.tagline %}
      <div class="mb-3 mb-md-5">{{page.tagline}}</div>
      {% else %}
      {{page.title}}
      {% if page.title == "Now" %}
        — <time class="dt-published" datetime="{{ page.date | date: "%B %-d, %Y" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      {% endif %}
      {% endif %}
  </h2> 

    </header>
    <div id="notes-entry-container">
      <content class="e-content"> 
        {{ content }}
      </content> 
    </div> 
</article>