---
layout: default
---
 
<article class="h-entry py-5"> 
  <header>
    <p class="metadata">
      <time class="dt-published" datetime="{{ page.date | date: "%B %-d, %Y" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      <span class="d-inline-block mx-3">|</span>
      <span class="p-name">{{ page.title }}</span>
    </p> 
  </header>
  <div id="notes-entry-container" class="e-content">
    <content>
      {{ page.content }}
    </content> 
  </div> 
 

  <footer>
    <div class="mt-5">
    <ul class="tags">
      {% if page.tags.size > 0 %}
        {% for tag in page.tags | sort %}
        {%- assign t = tag | first -%}
          <li><a href="/tag/{{tag}}">{{tag}}</a></li>
        {% endfor %}
      {% endif %}
    </ul>
    </div> 
  <!-- <hr class="my-3">
  {%- include widget-responses.html -%} -->
  </footer>

</article> 


<div class="row pagination mt-5">
  <div class="col-6">
    {% if page.next.url %}
      <a class="" href="{{page.next.url}}">Newer</a>
    {% endif %} 
  </div>
  <div class="col-6 text-end"> 
    {% if page.previous.url %}
      <a class="" href="{{page.previous.url}}">Older</a>
    {% endif %}
  </div>
</div> 