---
layout: default
---
 
<article class="h-entry"> 
  <header>
    <h2 class="h3 p-name">{{ page.title }}</h2>
    <p class="metadata mt-0">
      <time class="dt-published" datetime="{{ page.date | date: "%A, %B %-d, %Y" }}">{{ page.date | date: "%A, %B %-d, %Y" }}</time>
    </p> 
  </header>
  <div id="notes-entry-container" class="e-content">
    <content>
      {{ page.content }}
    </content> 
  </div> 
 

  {% if page.tags.size > 0 %}
  <footer>
    <ul class="tags"> 
        {% for tag in page.tags %}
        {%- assign t = tag | first -%}
          <li><a href="/tag/{{ tag | replace: ' ', '-' }}">{{tag}}</a></li>
        {% endfor %} 
    </ul> 
  <!-- <hr class="my-3">
  {%- include widget-responses.html -%} -->
  </footer>
  {% endif %}

</article> 


<div class="mt-5 border-top pt-5">
<div class="row pagination"> 
    <div class="col-6">
      {% if page.next.url %}
        <a class="" href="{{page.next.url}}">Newer</a>
      {% endif %} 
    </div>
    <div class="col-6 text-end"> 
      {% if page.previous.url %}
        <a class="" href="{{page.previous.url}}">Older</a>
      {% endif %}
    </div>
  </div> 
</div> 