---
layout: default
---
<section>
  {% assign posts = site.posts | where_exp:"item","item.title != ''" | sort: 'date' | reverse %}  
  {% for post in posts %}

    {% unless post.title == "null" %}

    {% capture year_of_current_post %}
      {{ post.date | date: "%Y" }}
    {% endcapture %}

    {% capture year_of_previous_post %}
      {{ post.previous.date | date: "%Y" }}
    {% endcapture %}

    {% if forloop.first %}
    <h3 class="mt-10 mb-3">{{ year_of_current_post }}</h3>
    <ul>
    {% endif %}

    <li><a href="{{ post.url }}" class="underline">{{ post.title }}</a></li>

  {% if forloop.last %}
      </ul>
      {% else %}
      {% if year_of_current_post != year_of_previous_post %}
      </ul>

      <h3 class="mt-10 mb-3">{{ year_of_previous_post }}</h3>
      <ul>
      {% endif %}
    {% endif %}
  {% endunless %}


{% endfor %}
</section>


<!-- <section>
  <h3 class="mb-3">I write about</h3>
  <ul class="tags">
    {% assign sorted_tags = site.tags %}
    {% for tag in site.tags %}
      <li> 
        <a href="/tag/{{ tag[0] | replace: ' ', '-' }}">{{tag[0]}}</a> <small class="text-subtext">{{ tag[1].size }}</small>
      </li> 
    {% endfor %}  
  </ul> 
</section> -->

<!-- 
        {% assign firstletter = tag[0] | truncate: 1, '' %}
        {% comment %} or use: {% assign firstletter = brand.Name | slice: 0 %} {% endcomment %}
        {% if letter == firstletter %}
            --{{tag[0]}}
        {% endif %}


ORIGINAL
  

  {% assign alphabet = "A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z" %}
  {% assign alphabet = alphabet | split:',' %}
  {% for letter in alphabet %}
      -{{ letter }}   
      {% for brand in ComponentData.Brands %}
          {% assign firstletter = brand.Name | truncate: 1, '' %}
          {% comment %} or use: {% assign firstletter = brand.Name | slice: 0 %} {% endcomment %}
          {% if letter == firstletter %}
              --{{brand.Name}}
          {% endif %}
      {% endfor %}    
  {% endfor %}

<hr> -->



<!-- {% assign alphabet = "A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z" %}
{% assign alphabet = alphabet | split:',' %}

<ul>
  {% for letter in alphabet %}
    <li>{{ letter }}
      <ul>
        <li>tag</li>
      </ul>
    </li>
  {% endfor %}
</ul> -->

     





<!-- 
<ul class="tags">
  {% assign tags_sorted = site.tags | sort %}
  {% for tag in tags_sorted %}
    <li><a href="/tag/{{ tag[0] | replace: ' ', '-' }}">{{ tag[0] }}</a> ({{ tag[1].size }})</li>
  {% endfor %}
</ul> -->

<!-- <hr>


{% assign alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split: "" %}
{% for letter in alphabet %}
  {{letter}}
  <ul class="tags">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      <li><a href="/tag/{{ tag[0] | replace: ' ', '-' }}">{{ tag[0] }}</a></li>
    {% endfor %}
  </ul>
{% endfor %} -->

