---
layout: default
---
<article class="note h-entry">

    <div class="page-header">
      <div class="page-header">
        <h1>
          <a href="/">Hey</a> 
          {% if page.title != "" %}
            <span class="subtext mx-2">|</span> <span class="p-name">{{page.title}}</span>
          {% endif %} 
        </h1>
      </div>
    </div>

  <header>
    <p class="meta">
      <time class="dt-published">{{page.date | date: "%A, %e %B, %Y"  }}</time> 

      {% if page.u-in-reply-to %}
        <span>| in reply to <a href="{{page.u-in-reply-to}}" class="u-in-reply-to">{{page.u-in-reply-to-name}}</a></span>

    {% else %}
    by <a class="p-author h-card" href="/">Zinzy Waleson</a>
      {% endif %}  
    </p>
  </header>

  <div id="notes-entry-container">
    <content class="e-content"> 
      {{ content }}
    </content> 
  </div>


  <script id="webmention-hosted">
    (function () {
    var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
    url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
    url = url && url[0] ? url[0].href : false;
    sn.type = "text/javascript"; sn.async = true;
    sn.src = "//webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
    s.parentNode.insertBefore(sn, s);
    }());
    </script>
</article>