---
layout: default
---

<article class="h-entry"> 
  <div class=" ">
    <div class=" ">
      <header class="mb-5">
        <h2 class="mb-2">{{ page.title }}</h2>
        <p><i>Part of {% if page.type == "concepts" %}concepts{% endif %}
          {% if page.type == "habits" %}habits{% endif %}
          {% if page.type == "ideas" %}ideas{% endif %}
          {% if page.type == "lists" %}lists{% endif %}
          {% if page.type == "library" %}the library{% endif %}
          {% if page.type == "places" %}places{% endif %}
          {% if page.type == "tools" %}tools{% endif %}</i></p>
      </header>
    </div>
    <div class=" "> 
      {% if page.audience %}
        <div class="card mb-4">
          <div class="card-body px-4">
            <span class="d-inline h5 mb-0 me-3">Intended audience</span>
            <span class="d-inline">{{page.audience}}</span>
          </div>
        </div>
      {% endif %}
      {% if page.standpoint %}
        <div class="card mb-4">
          <div class="card-body px-4">
            <span class="d-inline h5 me-3 mb-0">Please keep in mind</span>
            <span class="d-inline">What I've written below is very much a reflection of my experiences on this particular subject. If your context is similar to mine, you might find this useful. Otherwise, feel free to disregard what you read.</span>
          </div>
        </div>
      {% endif %}
      <div id="notes-entry-container">
        <content class="e-content"> 
          {{ content }}
        </content> 
      </div> 
    </div>
    <div class="border-top mt-5 pt-5">

      {% if page.backlinks.size > 0 %}
 
      <div> 
        <h3>Linking here</h3>
      {% for backlink in page.backlinks %}
      <div class="backlink-box mb-2">
      <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
      <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
      </div>
      {% endfor %}
      </div>
      {% else %}
<!-- 
      <div style="font-size: 0.9em">
        <p>
          There are no notes linking to this note.
        </p>
      </div> -->
      {% endif %}
    </div>
  </div> 
</article>