---
layout: default
---
<article class="h-entry micro">
  <ul class="micro"> 
    <li class="">  
        <span class="post-type">
          {% if page.replyTo %}
            {% include _icons/reply.html %}
          {% elsif page.likeOf %}
            {% include _icons/like.html %}
          {% else %}
            {% include _icons/note.html %}
          {% endif %}  
        </span> 

        {% if page.replyTo %}
          <p class="mt-0 u-in-reply-to">
            <a href="{{page.replyTo}}" class="u-in-reply-to" target="_blank">{{page.replyTo}}</a>
          </p> 
        {% endif %}
        {% if page.likeOf %}
          <p class="mt-0  ">
            Liked <a href="{{page.likeOf}}" class="u-like-of">{{page.likeOf}}</a> 
          </p> 
        {% endif %} 

        <div class="e-content" id="notes-entry-container">
          <content>
            {{ content }}
          </content>
        </div>
        <a href="{{ page.url }}" class="date"><time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %e, %Y" }}</time></a>
    </li> 
  </ul> 



  <footer class="mt-5">
  <span class="h-card d-none p-author"><img class="u-photo" src="/assets/img/android-chrome-192x192.png" alt="Zinzy Waleson Geene"></span>
    <p class="m-0">
      <span>This is an entry from the diary of <a rel="author" class="p-author h-card" href="/">Zinzy Waleson Geene</a>. {{page.cta}} Reply via <a href="mailto:zinzy@pm.me">email</a> or <a href="https://indieweb.org/Webmention" target="_blank" rel="noopener noreferrer">webmention</a> to share your perspective. {% if page.tags.size > 0 %} Feel free to read more about {% endif %}</span>

      {% if page.tags.size > 0 %}
      <span class="tags"> 
          {% assign sorted_tags = page.tags | sort %}
          {% for tag in sorted_tags %}
          {%- assign t = tag | first -%}
            <span><a href="/tag/{{ tag | replace: ' ', '-' }}">{{tag}}</a></span>
          {% endfor %}
      </span>
    {% endif %}
    </p>
     
    {% include widget-responses.html %}  
  </footer>

</article>
 
 