---
layout: default
---
<article class="h-entry">
  <header>
    <header> 
      <time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %e, %Y" }}</time>{% if page.replyTo %}, in reply to <span class="u-in-reply-to"><a href="{{page.replyTo}}" class="u-in-reply-to" target="_blank">{{page.replyToName}}</a></span> 
      {% endif %}
  </header>
  <div class="e-content" id="notes-entry-container">
    <content>
      {{ content }}
    </content>
  </div>


  <footer class="border-top mt-5 pt-5">
    <p class="m-0">
      <span>{{page.cta}} Reply via <a href="mailto:zinzy@pm.me">email</a> or <a href="https://indieweb.org/Webmention" target="_blank" rel="noopener noreferrer">webmention</a> to share your perspective. {% if page.tags.size > 0 %} Feel free to read more about {% endif %}</span>

      {% if page.tags.size > 0 %}
      <span class="tags"> 
          {% assign sorted_tags = page.tags | sort %}
          {% for tag in sorted_tags %}
          {%- assign t = tag | first -%}
            <span><a href="/tag/{{ tag | replace: ' ', '-' }}">{{tag}}</a></span>
          {% endfor %}
      </span>
    {% endif %}
    </p>
     
    {% include widget-responses.html %}  
  </footer>

</article>
 
 