---
layout: default
---
<section>
    <div class="row">
        <div class="col-lg-10">
            <h2 class="mb-5">I'm a researcher and designer making tools for people at work, and a facilitator building resonant queer spaces</h2>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-md-4">
            <h3>Just add WD-40</h3>
        </div>
        <div class="col-md-4">
            <h3>Serious people, serious challenges</h3>
        </div>
        <div class="col-md-4">
            <h3>Just add WD-40</h3>
        </div>
    </div>
</section>