---
layout: default
---
<section>
    <div class="row">
        <div class="col-lg-10">
            <h2 class="m-0">I'm a researcher and designer making tools for people at work, and a facilitator building resonant queer spaces.</h2>
        </div>
    </div>
</section>
 

<section>
    <div class="row">
        <div class="col-lg-5">
            <h3 class="m-0">I specialize in making SaaS products that help people solve problems at work.</h2>
        </div>
        <div class="col-lg-6 offset-lg-1">
            <p>I have sixteen years of experience building digital products. For the past eight years, I've been focusing my attention on enterprise SaaS across a variety of industries. I'm just wrapping up 2.5 years at Leeruniek, a startup in educational technology. Before that I spent five years at travel technology market leader Airtrade. I got my start in 2007, when I founded Studio Zinzy, a design boutique offering both remote freelance work as well as contracted in-house project leadership.</p>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-md-4">
            <h3>Just add WD-40</h3>
        </div>
        <div class="col-md-4">
            <h3>Serious people, serious challenges</h3>
        </div>
        <div class="col-md-4">
            <h3>Just add WD-40</h3>
        </div>
    </div>
</section>