---
layout: default
---
<section>
  <div class="row">
    <div class="col-md-8">
      <h2 class="h3">16 years at the intersection</mark> of research, design, leadership, and strategy</h2>
    </div>
  </div>
</section>

<section>
  <div class="row">
    {% for item in site.work %}  
      <div class="col-md-6 mb-4 mb-xl-5">
        <a href="{{item.url}}">
        <img src="{{item.thumb}}" alt="">
        <div>{{ item.title }}</div>
        <div class="text-subtext">{{ item.subtitle }}</div>
      </a>
      </div> 
    {% endfor %}
  </div> 
</section>