---
layout: default
---
<section>
  <div class="row">
    <div class="col-md-10">
      <h2>16 years at the intersection of research, design, leadership, and strategy</h2>
      <p>I'm a Design Manager presently part of Leeruniek, where we take a data-driven approach to equitable education.</p>
    </div>
  </div>
</section>


<section>
  <div class="row">
    <div class="col-md-10">
      <h2>I use my skills and experience to build teams, products, services, and habits</h2>
      <p>I'm a Design Manager</p>
    </div>
  </div>
</section>

<section>
  <h3>How I work</h3>

  <ul>
    <li><strong>Add WD-40 to teams, habits, products, services</strong>. When it comes to improve how my team does the right thing, I know repair is often better than disruption.</li>
    <li><strong>I'm a strategic generalist</strong>, choosing my methods and modes based on the challenge at hand. Sometimes, lorem ipsum is fine.</li>
    <li><strong>Ask questions</strong> and question answers, forever</li>
  </ul>

</section>

<section>
  <h3>Case studies</h3>
  <div class="row">
    {% for item in site.work %}  
      <div class="col-md-6 mb-4 mb-xl-5">
        <a href="{{item.url}}">
        <img src="{{item.thumb}}" alt="">
        <div>{{ item.title }}</div>
        <div class="text-subtext">{{ item.subtitle }}</div>
      </a>
      </div> 
    {% endfor %}
  </div> 
</section>