---
layout: default
---

- WD-40
- ResearchOps + DesignOps
- mentoring
- Tools for people at work
- Design systems
- How I became a designer: short answer is "taught myself to build websites when I was 11, haven't been the same since". Drawing from research








<h1>How I work</h1>
<p>I'm a Design Manager presently part of Leeruniek, where we take a data-driven approach to equitable education. I've been working at the intersection of research, design, leadership, technology, and strategy for sixteen years.</p>
<p>I'm blessed with a profession that's a sweet mix of some of the things I love: empathizing with people who use a product or service, crafting solutions for their problems, mentoring the people who do the same, and organizing how we do our work.</p>
 

<section>
  <h3>How I work</h3>

  <ul>
    <li><strong>Add WD-40 to teams, habits, products, services</strong>. When it comes to improve how my team does the right thing, I know repair is often better than disruption.</li>
    <li><strong>I'm a strategic generalist</strong>, choosing my methods and modes based on the challenge at hand. Sometimes, lorem ipsum is fine.</li>
    <li><strong>Ask questions</strong> and question answers, forever</li>
  </ul>

</section>

<section>
  <h3>Case studies</h3>
  <div class="row">
    {% for item in site.work %}  
      <div class="col-md-6 mb-4 mb-xl-5">
        <a href="{{item.url}}">
        <img src="{{item.thumb}}" alt="">
        <div>{{ item.title }}</div>
        <div class="text-subtext">{{ item.subtitle }}</div>
      </a>
      </div> 
    {% endfor %}
  </div> 
</section>