---
layout: default
--- 
<section>

  <div>
    {{content}} 
    {% assign diary = site.posts | sort: 'date' | reverse %}    
    <ul class="mt-20 divide-y">
      {% for post in diary %}
      <li class="py-2">
        <a href="{{ post.url }}">
          <span>{{ post.title }}</span>
          <time class="block md:inline-block md:ml-3 text-slate-500" datetime="{{ post.date | date: "%-d %b %Y" }}">{{ post.date | date: "%-d %b %Y" }}</time>
        </a></li> 
      {% endfor %} 
    </ul>
  </div>
</section>