---
layout: default
--- 
<div class="mb-5">
  <h1>Writing</h1>
  <p>While my posts are always personal, this section consists mostly of longform content on a particular subject.</p>
</div>

<section>

  <div>
    {% assign diary = site.posts | sort: 'date' | reverse %}  
    <ul class="writing">
      {% for post in diary %}
      <li class="">
        <div class="time"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time></div>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li> 
      {% endfor %} 
    </ul>
  </div>
</section>